<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

   <form method="post">
        {% csrf_token %}
        Are you sure you want to delete "{{ object }}" ?
        <input type="submit" value="Submit" />
  </form>

{# <a href="{% url "drive:prop" %}">Retour </a>#}
 <a href="/prop/1"> Retour </a>

</body>
</html>