<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <title>ESIH DRIVE / DOWNLOAD CENTER </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="description" content=" System file sharing ,where student can download, and prof can upload file on the plateform " />
    <link rel="shortcut icon" href="{% static "images/Icon_drive.jpg" %}"  type="image/x-icon">
    <!-- CSS
================================================== -->

    <link rel="stylesheet" href="{% static "css/forms.css" %}" />
    <link rel="stylesheet" href="{% static "css/style_slider.css" %}" />
{#    <link rel="stylesheet" href="{% static "css/home-search.css" %}" />#}
{#    <link rel="stylesheet" href="{% static "css/home-search.css" %}" />#}
    <link rel="stylesheet" href="{% static "css/fonts.css" %}" />


    <link rel="stylesheet" href="{% static "css/normalize.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
    <link rel="stylesheet" href="{% static "css/respond-480-tablet.css" %}" />
    <link rel="stylesheet" href="{% static "css/respond-768-laptop.css" %}" />
    <link rel="stylesheet" href="{% static "css/respond-1140-deskop.css" %}" />


    <link rel="stylesheet" href="{% static "css/header.css" %}" />
    <link rel="stylesheet" href="{% static "css/footer.css" %}" />
    <link rel="stylesheet" href="{% static "css/leftnav.css" %}" />
{#    <link rel="stylesheet" href="{% static "css/simpletree.css" %}" />#}
    <link rel="stylesheet" href="{% static "css/home.css" %}" />

{#    <link rel="stylesheet" href="{% static "css/prettyPhoto.css" %}" />#}

{#    <link rel="stylesheet" href="{% static "css/fusiondoc.css" %}" />#}

{#    <link rel="stylesheet" href="{% static "css/print.css" %}" />#}

    <script src="{% static "js/jquery-1.11.0.min.js" %}" ></script>
    <script src="{% static "js/modernizr-2.6.1-respond-1.1.0.min.js" %}" ></script>

    <script src="{% static "js/jquery-1.10.2.js" %}" ></script>
    <script src="{% static "js/jquery-ui-1.10.4.custom.js" %}" ></script>
    <script src="{% static "css/jquery-ui-1.10.4.custom.css" %}" ></script>

    <script src="{% static "js/header.js" %}" ></script>
    <script src="{% static "js/tabs.js" %}" ></script>
{#    <script src="{% static "js/booklist.js" %}" ></script>#}
    <script src="{% static "js/header.js" %}" ></script>
    <script src="{% static "js/leftnav.js" %}" ></script>
{#    <script src="{% static "js/bookpage.js" %}" ></script>#}



     <!--bootstrap components-->

    <link rel="stylesheet" href="{% static "css/bootstrap-panel.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-carousel.css" %}" />
    <script src="dcommon/js/bootstrap.min.js"></script>


</head>

<body>
     <!-- Color Bars (above header)-->
	<div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>

    <div id="IE8">
    You are using an outdated browser. Please upgrade to the latest version for the best experience.
    </div>

    <header>

      <div class="w1024 center" style="height:65px; display:block;">
           <a href="/" class="drive-logo-home"> <img src="{% static "images/logo_drive.png" %}" alt="Esih_Drive download center" style=" width:236px; height:65px; max-width: none;" /> </a>

        <div id="headernav" class="glyph">
              <ul>
                <li id="login">
{#       <a href="#" id="signInLink"><img src="dcommon/img/sign-on.png" width="14" height="19" alt="Sign In Icon" style="vertical-align: text-bottom;"/> SIGN IN</a>#}
                    {% if user.is_authenticated %}
                     <h2>Welcome {{ user.username }}!
                      <a href="/form/logout/">[logout]</a>
                     </h2>
                     {% else %}
                     <h2> redirect will be there </h2>
                    {% endif %}

                </li>
            </ul>
        </div>
      </div>

    </header>


    <div id="content" style="margin-top:55px">

        </div>
        <!--end help drawer -->

        <div class="w1024-pad center" >
        <div id="home-left">

        <h1> Get the Acces to Your Course Document </h1>
        <p> Welcome to ESIH_DRIVE / Download Center. <br> Here ESIH student can Download all the course document. and Teacher can upload course to the plateform </p>

{#            <p><a class="various" data-fancybox-type="iframe"  href="http://apex.oracle.com/pls/apex/f?p=44785:265:0::::P265_CONTENT_ID:10559"><img src="dcommon/img/video-home_03.png" alt="video icon" style="vertical-align: middle;margin-left: 0; margin-right: 10px;"/>See what's new in the Oracle Help Center!</a></p>#}
        </div>

         <!--  SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER-->
       <div id="home-right" style="margin-top:10px;">

            <!-- 	INPUT FOR BUTTON SELECT SLIDE -->
            <input type="radio" name="next" id="slide1">
            <input type="radio" name="next" id="slide2">
            <input type="radio" name="next" id="slide3">
            <input type="radio" name="next" id="slide4">

            <!-- 	INPUT FOR BUTTON STOP&PLAY -->
            <input type="radio" name="sto" id="play" checked>
            <input type="radio" name="sto" id="stop">

            <!-- CONTAINER OF THE SLIDE
            ============================================================-->
            <div class="cont">

                <!-- BUTTON PLAY&STOP -->
                <label for="play" class="butPlay" onclick=""></label>
                <label for="stop" class="butStop" onclick=""></label>

                <!-- IMAGE -->

                <div class="image">
                    <img src="{% static "images/logo_drive.png" %}" class="oneP"  style="  width:550px; height:200px; max-width: none;"	alt="banner_logo">
                    <img src="{% static "images/EsihLogo.jpg" %}"   class="twoP"  style="  width:550px; height:200px; max-width: none;"	alt="banner_logo1">
                    <img src="{% static "images/cloud.jpg" %}" class="threeP" style=" width:550px; height:200px; max-width: none;" alt="banner_logo2">
                    <img src="{% static "images/logo_drive.png" %}" class="fourP"  style=" width:550px; height:200px; max-width: none;" 	alt="banner_logo3">
                </div>




                <!-- ANIMATION LINE -->
{#                <div class="line"></div>#}

                <!-- BOTTOM LINE -->
                <div class="but">
                    <label for="slide1" class="select1" onclick=""></label>
                    <label for="slide2" class="select2" onclick=""></label>
                    <label for="slide3" class="select3" onclick=""></label>
                    <label for="slide4" class="select4" onclick=""></label>
                    <div class="tooltip"></div>
                </div>

            </div>

       </div>

      <!-- -->
        <div class="clearboth w1024-pad center margin-top" >


{#              <a href = "{% url "drive:prop" name.id %}">#}
            <a href="/prop/1">
                <div id="hm-cloud" class="home-box" title="Cloud">
                <h2> Propédeudique </h2>
                <div class="description"> Année preparatoire / Première année d'etude à L'ESIH vous préparant pour la licence </div>
                <div id="img-prop" class="homeicon"> </div>
                </div>
             </a>


        <a href="/l1">
        <div id="hm-application"  class="home-box" title="Application">
        <h2> 1er Année info</h2>
        <div class="description">L1 / Première année d'etude à L'ESIH de la norme LMD  </div>
        <div id="img-l1" class="homeicon" ></div>
        </div>
        </a>

{#        <a href="/form/logout/">[logout]</a>#}
        <a href="middleware/index.html">
        <div id="hm-middleware" class="home-box" title="Middleware">
        <h2> 2ème Année info</h2>
        <div class="description">L2 / 2ème Année d'etude à L'ESIH de la norme LMD  </div>
        <div id="img-l2"  class="homeicon" ></div>
        </div>
        </a>

        <a href="database/index.html">
        <div id="hm-database" class="home-box" title="Database">
        <h2> 3ème Année info</h2>
        <div class="description">L3 / 3ème année d'etude à L'ESIH de la norme LMD   </div>
        <div id="img-l3" class="homeicon"></div>
        </div>
        </a>

        <a href="bigdata/index.html">
        <div  id="hm-bigdata"  class="home-box" title="Big Data">
        <h2> M1 Data Base </h2>
        <div class="description">M1 / Master 1 Base de donnée programmation à L'ESIH suivant la norme LMD   </div>
        <div id="img-m1dt" class="homeicon"></div>
        </div>
        </a>

        <a href="enterprise-manager/index.html">
        <div id="hm-enterprise" class="home-box" title="Enterprise Manager">
        <h2> M1 Telecome </h2>
        <div class="description">M1/ Master 1 Reseaux Télecom  à L'ESIH suivant la norme LMD</div>
        <div id="img-m1rt" class="homeicon"></div>
        </div>
        </a>

        <a href="engineered-systems/index.html">
        <div id="hm-engineered" class="home-box" title="Engineered Systems">
        <h2>1ere Année Economie & Gestion  </h2>
        <div class="description">l1 /  </div>
        <div id="img-l1g" class="homeicon"></div>
        </div>
        </a>

        <a href="java/index.html">
        <div id="hm-java" class="home-box" title="Java">
        <h2>2ème Année Economie & Gestion</h2>
        <div class="description">l2/  </div>
        <div id="img-l2g" class="homeicon"></div>
        </div>
        </a>

        <a href="hardware/index.html">
        <div id="hm-hardware" class="home-box" title="Hardware">
        <h2>3ème Année Economie & Gestion</h2>
        <div class="description">l3 /</div>
        <div id="img-l3g" class="homeicon"></div>
        </div>
        </a>

        <a href="virtualization/index.html">
        <div id="hm-virtualization"  class="home-box" title="Virtualization">
        <h2> M1 Economie & Gestion</h2>
        <div class="description">M1 / </div>
        <div id="img-m1g" class="homeicon"></div>
        </div>
        </a>

        <a href="storage/index.html">
        <div id="hm-storage" class="home-box" title="Storage">
        <h2> Mone </h2>
        <div class="description">Mone /</div>
        <div id="img-mone" class="homeicon"></div>
        </div>
        </a>
        <a href="operating-systems/index.html">
        <div id="hm-operating"  class="home-box" title="Operating Systems">
        <h2>M2 Telecom </h2>
        <div class="description">Master 2/  suivant la norme LMD</div>
        <div id="img-m2" class="homeicon"></div>
        </div>
        </a>


        </div>


        <div class="clearboth w1024-pad center" >

        <div id="helphome" ><a href="browseall.html"><div id="helpfulhome"  style="border:1px solid #fff;"><div class="innertube-15" style="text-align:center"> All Documents &amp; Course </div></div></a></div>

        </div>

    </div><!--end content-->


    <div class="footer-container clearboth" >
          <div class="center" style="padding: 10px 0 0 30px;  max-width: 994px;">
              <div style="float:right; margin:0 8px; display:inline;">
                <div class="glyph" id="footernav">
                      <ul>
                        <li><a href="#"> <img width="16" height="16" style="vertical-align:middle; margin:0 4px;" alt="Choose your language" src="dcommon/img/func_worldglobe_16_act.png"> <span class="JetFW-caret-n_16"> </span></a>
                          <ul class="shadow">
                            <li><a href="#">English</a></li>
                          </ul>
                        </li>
                      </ul>
                 </div>
              </div>

             <footer class="footer-list small">
              <ul>
                <li> <a href="" target="_blank">About ESIH_DRIVE</a> </li>
                <li> <a href="" target="_blank">Contact Us</a> </li>
                <li> <a href="" target="_blank">Terms of Use</a> </li>
                <li> <a href="" target="_blank">Your Privacy Rights</a> </li>
              </ul>
            </footer>

            <span style="display:block;" class="small">Copyright &copy;  2014, ESIH. All rights reserved. </span>
         </div>
    </div>

</body>
</html>