<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class="no-js"> <!--<![endif]-->

{% load staticfiles %}
{% load crispy_forms_tags %}
<head lang="en">
    <meta charset="UTF-8">
    <title>ESIH DRIVE / DOWNLOAD CENTER </title>
    <link rel="shortcut icon" href="{% static "images/Icon_drive.jpg" %}"  type="image/x-icon">
    <meta name="description" content=" System file sharing ,where student can download, and prof can upload file on the plateform " />


    <link rel="stylesheet" href="{% static "css/fonts.css" %}" />

    <link rel="stylesheet" href="{% static "css/normalize.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
    <link rel="stylesheet" href="{% static "css/respond-480-tablet.css" %}" />
    <link rel="stylesheet" href="{% static "css/respond-768-laptop.css" %}" />
    <link rel="stylesheet" href="{% static "css/respond-1140-deskop.css" %}" />

    <link rel="stylesheet" href="{% static "css/header.css" %}" />
    <link rel="stylesheet" href="{% static "css/footer.css" %}" />
    <link rel="stylesheet" href="{% static "css/leftnav.css" %}" />
    <link rel="stylesheet" href="{% static "css/simpletree.css" %}" />
    <link rel="stylesheet" href="{% static "css/home.css" %}" />

    <link rel="stylesheet" href="{% static "css/jquery-ui-1.10.4.custom.css" %}" />

    <script src="{% static "js/jquery-1.10.2.js" %}" ></script>

    <script src="{% static "js/jquery-ui-1.10.4.custom.js" %}" ></script>
    <script src="{% static "css/jquery-ui-1.10.4.custom.css" %}" ></script>

    <script src="{% static "js/header.js" %}" ></script>
    <script src="{% static "js/tabs.js" %}" ></script>
    <script src="{% static "js/booklist.js" %}" ></script>
    <script src="{% static "js/leftnav.js" %}" ></script>


    <script src="{% static "js/jquery-1.11.0.min.js" %}" ></script>
    <script src="{% static "js/modernizr-2.6.1-respond-1.1.0.min.js" %}" ></script>
    <!--<script src="{% static "js/common.js" %}" ></script>-->
    <script src="{% static "js/search.js" %}" ></script>
    <script src="{% static "js/bootstrap.min.js" %}" ></script>


    <!--bootstrap components-->

    <link rel="stylesheet" href="{% static "css/bootstrap-panel.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-carousel.css" %}" />

    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />


</head>


<body id="l1pbody"  class="cloud-body category-page">
<!--this body tag is only needed to highlight the navigation for demo-->

    <header>

        <div class="color-bar-1"></div>
        <div class="color-bar-2 color-bg"></div>

      <div class="w1024 center" style="height:65px; display:block;">
           <a href="#" class="drive-logo-home"> <img src="{% static "images/logo_drive.png" %}" alt="Esih_Drive download center" style=" width:500px; height:60px; max-width: none;" /> </a>

        <div id="headernav" class="glyph">
            <ul>
                <li id="login">
{#                <a href="# id="signInLink"><img src="dcommon/img/sign-on.png" width="14" height="5" alt="Sign In Icon" style="vertical-align: text-bottom;"/> Sign In</a>#}
{#                    <a href="#" id="signInLink"><img src="dcommon/img/sign-on.png" width="14" height="19" alt="Sign In Icon" style="vertical-align: text-bottom;"/> SIGN IN</a>#}
                  {% if user.is_authenticated %}
                     <h2>Welcome {{ user.username }}!</h2>
                  {% else %}
                     <h2>ESIH_DRIVE</h2>
                  {% endif %}
                </li>
             </ul>
        </div>
        </div>

    </header>

 <!--<script src="{% static "js/helpdrawer.js" %}" ></script>-->
      <!--<script src="../dcommon/js/helpdrawer.js"></script>-->

<!-- The content -->

    <div id="content" style="margin-top: 63px;">
        <div class="left-nav" style="display: block;">

            <ul>
                <li><a id="Home" href="/app">
                    <img src="{% static "images/arrow-left.png" %}" alt="home" width="14" height="15"  style="vertical-align: text-bottom;"/> Home</a>
                </li>
                <li><a id="prop" href="/app/prop"> Propédeutique </a></li>
                <li><a id="l1" href="/app/l1"> 1ère Année info </a></li>
                <li><a id="l2" href="/app/l2" class="selected">2ème Année info</a></li>
                <li><a id="l3" href="/app/l3"> 3ème Année info </a></li>
                <li><a id="m1_b" href="/app/m1"> M1 Data Base </a></li>
                <li><a id="m1_t"  href="/app/m1t"> M1 Telecom </a></li>
                <li><a id="l1_eco" href="/"> 1ère Année Economie Gestion </a></li>
                <li><a id="l1_eco" href=""> 2ème Année Economie & Gestio </a></li>
                <li><a id="l3_eco" href=""> 3ème Année Economie & Gestio </a></li>
                <li><a id="m1_eco" href=""> M1 Economie & Gestion </a></li>
                <li><a id="m1_sc" href=""> M1 Science Comptable </a></li>
                <li><a id="mone"   href=""> Mone </a></li>
                <li><a id="all" href=""> All Documents And Course </a></li>
                <li><a id="browseall" href=""> Browse All Products </a></li>
            </ul>
        </div>

        <div id="shownav" title="Show Navigation" style="display: none;"></div>
        <div id="hidenav" style="display: none;"></div>
        <div id="main" class="main-pad" style="margin-left: 160px;">
        <script src="../dcommon/js/helpdrawer.js"></script>

      	<!--start help drawer -->

       <div id="helpdrawer" class="border-left shadow" style="right: -280px;">

          <div id="helptab" class="border "></div>

        <!--end help drawer contents -->
        </div>

<!--end help drawer -->

        <img class="img-right" src="{% static "images/EsihDriveL1.png" %}" width="230" height="190" alt="LOGO PAGE" />
         <h1>L1 Documentations</h1>

        <p> Vous etre première année informatique ? Vous avez ici l'accès a tous les cours de niveau l1 Disponibles</p>
    <div class="tabs">
        <ul class="tab-links">
            <li class=""><a href="#tab1"> Circuit logique </a></li>
            <li class=""><a href="#tab2"> Mathe </a> </li>
            <li class="active"><a href="#tab3"> C++ </a></li>
            <li><a href="#tab4">Web</a></li>
            <li><a href="#tab5">etc...</a></li>
            <li><a href="#tab6">etc...</a></li>
            <li><a href="#tab7">etc...</a></li>
		    <li><a href="#tab8">etc...</a></li>

        </ul>
    <div class="tab-content">

     <div class="tab" id="tab1" style="display: none;">


         {% if circuit %}
			<ul>
			{% for DocumentCircuit in circuit %}
				<li><a href="{{ DocumentCircuit.doc_circuit.url }}">{{ DocumentCircuit.doc_circuit.name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p> No Circuit documents. </p>
		{% endif %}


        {% if user.is_authenticated and perms.drive %}
            <form action="{% url 'l1' %}" method="post" enctype="multipart/form-data">
			    {% csrf_token %}
{#                {{ form }}#}
                {% crispy form %}
            </form>
        {% else %}
                     <h3> you can't  upload file</h3>

        {% endif %}
{#     {% block test %} {% endblock %}#}

     </div>


    <div id="tab2" class="tab" style="display: none;">

    </div>

    <div id="tab3" class="tab" style="display: block;">

    </div>

  <div id="tab4" class="tab" style="display: none;">

  </div>

  <div id="tab5" class="tab" style="display: none;">

  </div>

  <div id="tab6" class="tab" style="display: none;">

  </div>
  <div id="tab8" class="tab" style="display: none;">

  </div>

  <div id="tab7" class="tab" style="display: none;">

  </div>

 </div>
</div>

     <br class="clearfloat">


       <br style="clear:both;">
       <br>
        </div>
</div>


     <footer></footer>


 </body>

</html>


