
{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
 <title>ESIH DRIVE / DOWNLOAD CENTER </title>
    <link rel="shortcut icon" href="{% static "images/Icon_drive.jpg" %}"  type="image/x-icon">
    <meta name="description" content=" System file sharing ,where student can download, and prof can upload file on the plateform " />




    <link rel="stylesheet" href="{% static "css/fonts.css" %}" />

    <link rel="stylesheet" href="{% static "css/normalize.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
    <link rel="stylesheet" href="{% static "css/respond-480-tablet.css" %}" />
    <link rel="stylesheet" href="{% static "css/respond-768-laptop.css" %}" />
    <link rel="stylesheet" href="{% static "css/respond-1140-deskop.css" %}" />

    <link rel="stylesheet" href="{% static "css/header.css" %}" />
    <link rel="stylesheet" href="{% static "css/footer.css" %}" />
    <link rel="stylesheet" href="{% static "css/leftnav.css" %}" />
    <link rel="stylesheet" href="{% static "css/simpletree.css" %}" />
    <link rel="stylesheet" href="{% static "css/home.css" %}" />

    <link rel="stylesheet" href="{% static "css/jquery-ui-1.10.4.custom.css" %}" />



    <script src="{% static "js/header.js" %}" ></script>


    <link rel="stylesheet" href="{% static "css/bootstrap-panel.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-carousel.css" %}" />

    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
</head>
<body>

    <header>

        <div class="color-bar-1"></div>
        <div class="color-bar-2 color-bg"></div>

      <div class="w1024 center" style="height:65px; display:block;">
           <a href="{% url "drive:prop" %}" class="drive-logo-home"> <img src="{% static "images/logo_drive.png" %}" alt="Esih_Drive download center" style=" width:500px; height:60px; max-width: none;" /> </a>

        <div id="headernav" class="glyph">
            <ul>
                <li id="login">
{#                <a href="# id="signInLink"><img src="dcommon/img/sign-on.png" width="14" height="5" alt="Sign In Icon" style="vertical-align: text-bottom;"/> Sign In</a>#}
{#                    <a href="#" id="signInLink"><img src="dcommon/img/sign-on.png" width="14" height="19" alt="Sign In Icon" style="vertical-align: text-bottom;"/> SIGN IN</a>#}
                  {% if user.is_authenticated %}
                     <h2>Welcome {{ user.username }}!</h2>
                  {% else %}
                     <h2>ESIH_DRIVE</h2>
                  {% endif %}
                </li>
             </ul>
        </div>
        </div>

    </header>

<br />
<br />
<br />
<br />
<br />
<br />

    <div class="container">
<h1> Here You ----> <span style="color: #145c93">{{ user.username }} </span>Can Upload File TO Server  </h1>

      <div id="login">

     {% if user.is_authenticated and perms.drive %}
           <form method="post" enctype="multipart/form-data">
               {% csrf_token %}
                {{ form.as_p}}
               <br />
               <input type="submit" value="UPLOAD" css_class='btn-primary' />
           </form>
        {% else %}
                     <h3> you can't  upload file</h3>

        {% endif %}
 </div> <!-- end login -->

    </div>

</body>
</html>