/* CSS Document */


#main form {
	margin: 10px 0;
}

label {
	color: #4d4d4d;
	cursor: pointer;
/*	display: block;*/
	font-weight: normal;
	margin-bottom: 0;
}
input {
	border-width: 1px;
	border-style: solid;
	border-color: #cbcbcb;
	border-radius: 2px;
}
#searchcontent input, #searchcontent  select, #searchcontent  textarea {
/*color: #404040;*/
border-width: 1px;
border-style: solid;
/*border-color: #cbcbcb;*/
border-radius: 2px;
/*-webkit-appearance: none;
-moz-appearance:none;*/
/*padding: 3px 4px 3px 8px; */

padding: 5px 4px 5px 8px;

}

#searchcontent  select{
line-height: 26px;
}

/* We use this to get basic styling on all basic form elements */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	-webkit-appearance: none;
	background-color: white;
	border: 1px solid #cccccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
input[type="text"][disabled], fieldset[disabled] input[type="text"], input[type="password"][disabled], fieldset[disabled] input[type="password"], input[type="date"][disabled], fieldset[disabled] input[type="date"], input[type="datetime"][disabled], fieldset[disabled] input[type="datetime"], input[type="datetime-local"][disabled], fieldset[disabled] input[type="datetime-local"], input[type="month"][disabled], fieldset[disabled] input[type="month"], input[type="week"][disabled], fieldset[disabled] input[type="week"], input[type="email"][disabled], fieldset[disabled] input[type="email"], input[type="number"][disabled], fieldset[disabled] input[type="number"], input[type="search"][disabled], fieldset[disabled] input[type="search"], input[type="tel"][disabled], fieldset[disabled] input[type="tel"], input[type="time"][disabled], fieldset[disabled] input[type="time"], input[type="url"][disabled], fieldset[disabled] input[type="url"], textarea[disabled], fieldset[disabled] textarea {
	background-color: #dddddd;
}
input[type="text"].radius, input[type="password"].radius, input[type="date"].radius, input[type="datetime"].radius, input[type="datetime-local"].radius, input[type="month"].radius, input[type="week"].radius, input[type="email"].radius, input[type="number"].radius, input[type="search"].radius, input[type="tel"].radius, input[type="time"].radius, input[type="url"].radius, textarea.radius {
	border-radius: 3px;
}
input[type="submit"] {
	-webkit-appearance: none;
}
input[type="radio"] {
	vertical-align: middle;
}
#search {
	position: relative;
	float: right;
	top: 13px;
}
#searchField {

height: 32px;
/* line-height: 32px; */
margin: 0;
box-shadow: none;
background-color: #fff;
text-shadow: 1px 1px 1px #fff;
border-radius: 0;
}

.selectspan{display:block;}
.gospan{
	margin:0;
	padding:0;
	white-space: nowrap;
	margin-top:6px;
	display:block;}

#selectproduct{
min-width: 216px;
}
#searchField-book {
display: inline;
height: 28px;
/* line-height: 32px; */
margin: 0;
box-shadow: none;
background-color: #fff;
width: 150px;
float: left;
padding-left: 5px;
border-right: none !important;
border-radius: 0;
}

#SEARCHBUTTON {
	background-color: #0572ce;
	color: #0572ce;
	background-image: url(../img/search-w.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 50px;
	height: 32px;
	/* line-height:32px; */

	/*float: left;*/
	margin: 0;
	/*padding:0 !important;*/
	cursor: pointer;
	text-transform: capitalize;
	text-indent: -33333em;
	border: 1px solid #0572ce;
	border-left: none;
}

/*blue search button*/
#SEARCHBUTTON-book{
	background-color: #0572ce;
	color: #0572ce;
	background-image: url(../img/search-w.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 30px;
	height: 28px;
	/* line-height:32px; */

	
	margin: 0;
	cursor: pointer;
	text-transform: capitalize;
	text-indent: -33333em;
	border: 1px solid #0572ce;
	border-left: none;
}
#SEARCHBUTTON-book{
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: url("../img/icon-search-ena.png") no-repeat scroll right 6px center #fcfdfe;
border-color: #cbcbcb;
border-image: none;
border-style: solid solid solid none;
border-width: 1px 1px 1px 0;
cursor: pointer;
display: inline;
height: 28px;
margin-left: -5px;
padding-bottom: 3px;
padding-right: 26px;
padding-top: 1px;
/*right: 3px;*/
text-indent: -33333em;
text-transform: uppercase;
/*top: 3px;*/
vertical-align: bottom;
/*width: 18px;*/
z-index: 200;
}








.SELECTLRG {
	    -moz-appearance: none;
    border-color: #cbcbcb;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #404040;
  /*  padding: 4px 4px 2px 8px;*/
	padding: 2px 4px 2px 8px;
	
	box-shadow: inset 0px 1px 0px #FFFFFF;
	height: 32px;
	/* line-height:32px; */
	
	max-width:290px;
	/*for responsive pages*/
	
	
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZjFmM2Y0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0ZThlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #ffffff 1%, #f1f3f4 2%, #e4e8ea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(2%, #f1f3f4), color-stop(100%, #e4e8ea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 1%, #f1f3f4 2%, #e4e8ea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 1%, #f1f3f4 2%, #e4e8ea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 1%, #f1f3f4 2%, #e4e8ea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 1%, #f1f3f4 2%, #e4e8ea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e8ea', GradientType=0 ); /* IE6-8 */
}
.SEARCHHOME {
	text-align: center;
}
.SEARCHHOME input {
	display: inline-block;
	vertical-align: bottom;
	height: 32px;
	/* line-height:32px; */

	/*margin: 20px 0;*/
	max-width: 230px;
}
.SEARCHHOME #selectproducthome {
	display: inline-block;
	vertical-align: bottom;
	/*	height: 32px;
	margin: 20px 0;*/
	width: 150px;
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
.SEARCHHOME #WORD {
	width: 360px;
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-left: 0;
}


@media only screen and (min-width: 480px) {	

#searchcontent input, #searchcontent  select, #searchcontent  textarea {
float:left;}

.tabs-home #searchcontent input, .tabs-home #searchcontent  select, .tabs-home #searchcontent  textarea {
float:left;
	}
	
#searchcontent  input[type="radio"]{
	float:none;
	}

#searchField {
clear:none;
display: inline;}
	
#selectproduct{
min-width:inherit;
width:auto;}

.selectspan{	
margin:0;
	padding:0;
	display:inline-block;}
.gospan{
	margin:0;
	padding:0;
	display:inline-block;
	}
}

@media only screen and (min-width: 768px) {

/*#searchField {
border-left: none !important;
}*/
}

@media only screen and (min-width: 1140px) {
}




