/* CSS Document */

.home-box {
	width: 96%;
	/*min-width: 245px;*/
	float: left;
	display: block;
	position: relative;
	min-height: 120px;
	overflow: hidden;
	cursor: pointer;
}
.home-box a:hover, .home-box h2 a:hover {
	text-decoration: none;
}
.home-box h2 {
	position: relative;
	font-size: 19px;
	font-weight: bold;
	/*text-transform:uppercase;*/
	color: #4c4c4c;
	line-height: 1.3em;
	margin: 5px 15px;
	padding-left: 90px;
}

.home-box .description {
	position: relative;
	font-size: 15px;
	font-weight: normal;
	width: auto;
	/* text-transform: uppercase; */
	color: #666;
	line-height: 19px;
	margin: 5px 15px;
    padding-left: 90px;
}
.left50-home {
	float: left;
	width: 96%;
	display: block;
}
#home-left{
	float: left;
	width: 96%;
	display: none;
}
 #home-right {
	float: left;
	width: 96%;
	display: block;
}
/*product icons*/


#hm-cloud, #hm-application, #hm-middleware, #hm-database,
#hm-bigdata, #hm-enterprise, #hm-engineered, #hm-java,
#hm-hardware, #hm-virtualization, #hm-storage, #hm-operating {
	border-bottom: 1px solid #e4ebf0;
	padding: 5px;
}

/*hover boxs*/

#hm-cloud:hover, #hm-cloud:active {
	background-color: #81bb5f;
	text-decoration: none;
}
#hm-application:hover, #hm-application:active {
	background-color:#81bb5f;
	text-decoration: none;
}
#hm-middleware:hover, #hm-middleware:active {
	background-color: #81bb5f;
	text-decoration: none;
}
#hm-database:hover, #hm-database:active {
	background-color:#81bb5f;
	text-decoration: none;
}

#hm-bigdata:hover, #hm-bigdata:active {
	background-color: #a4d7f1;
	text-decoration: none;
}
#hm-enterprise:hover, #hm-enterprise:active {
	background-color:#a4d7f1;
	text-decoration: none;
}
#hm-engineered:hover, #hm-engineered:active {
	background-color:#a4d7f1;
	text-decoration: none;
}
#hm-java:hover, #hm-java:active {
	background-color: #a4d7f1;
	text-decoration: none;
}



#hm-hardware:hover, #hm-hardware:active {
	background-color: #a4d7f1;
	text-decoration: none;
}
#hm-virtualization:hover, #hm-virtualization:active {
	background-color: #31708f;
	text-decoration: none;
}
#hm-storage:hover, #hm-storage:active {
	background-color: #31708f;
	text-decoration: none;
}
#hm-operating:hover, #hm-operating:active {
	background-color: #31708f;
	text-decoration: none;
}


#helpfulhome, #helpfulhome a, #helpfulhome label {
	background-color: #31708f;/*#eef1f4;*/
	font-weight: bold;/*color:#fff;*/
	color: #fff;
}
#helphome {
	width: auto;
}
#helphome a:hover {
	text-decoration: none;
}

/*designe fof li on upload math*/
.tab li {
    list-style-type: none;
    counter-increment: repas; /* on incrémente le compteur à chaque nouveau li */
    margin-bottom: 10px;
}
.tab li:before {
    content: counter(repas); /* on affiche le compteur */
    padding: 0 20px 6px;
    margin-right: 8px;
    vertical-align: top;
    background: #678;
    -moz-border-radius: 60px;
    border-radius: 60px;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
}


#img-prop {

	background:url(../images/EsihDriveprop.png) no-repeat;
	background-size: 230px 180px;
	background-position: -0px -5px ;
}
#img-l1 {
	background: url(../images/EsihDriveL1.png) no-repeat;
	background-size: 230px 180px;
	background-position: -0px -5px;
}
#img-l2 {
	background: url(../images/EsihDriveL2.png) no-repeat;
	background-size: 230px 180px;
	background-position: -0px -5px;
}
#img-l3 {
	background: url(../images/EsihDriveL3.png) no-repeat;
	background-size: 230px 180px;
	background-position:-0px -5px;
}

#img-m1dt {
	background: url(../images/EsihDriveM1Bdd.png) no-repeat;
	background-size: 230px 180px;
	background-position: -0px -5px;
}
#img-m1rt {
	background: url(../images/EsihDriveM1tel.png) no-repeat;
	background-size: 230px 180px;
	background-position: -0px -5px;
}
#img-l1g {
	background: url(../images/EsihDriveL1.png) no-repeat;
	background-size: 230px 180px;
	background-position: -0px -5px;
}
#img-l2g{
	background: url(../images/EsihDriveL2.png) no-repeat;
	background-size: 230px 180px;
	background-position: -0px -5px;
}

#img-l3g {
	background: url(../images/EsihDriveL3.png) no-repeat;
	background-size: 230px 180px;
	background-position: -0px -5px;
}
#img-virtualization {
	background: url(../img/10-virtualization.png) no-repeat;
	background-size: 230px 180px;
	background-position: -68px -44px;
}
#img-storage {
	background: url(../img/11-storage.png) no-repeat;
	background-size: 230px 180px;
	background-position: -69px -42px;
}
#img-operating {
	background: url(../img/9-operatingsystems.png) no-repeat;
	background-size: 230px 180px;
	background-position: -70px -43px;
}




.homeicon {
width: 95px;
height:87px;
position: absolute;
top: 15px;
left: 0px;

}


 @media only screen and (min-width: 480px) {
#helphome {
	/*max-width: 985px;*/
	margin-right: 30px;
}
#home-left{display:block;}
.home-box {
	width: 48%;
	margin-right: 0;
	height: 290px;
}
.home-box h2 {
	position: relative;
	top: 206px;
	font-size: 17px;
	font-weight: bold;
	/*text-transform:uppercase;*/
	color: #4c4c4c;
	line-height: 1.3em;
	margin: 5px 15px;
	padding-left:0;
}
.home-box .description {
	top: 202px;
	font-size: 13px;
	padding-left:0;
}
.homeicon {
	/*width: 223px;*/
	width: 100%;
	height: 209px;
	position: absolute;
	top: 15px;/*left: 3px;*/
}
#img-java {
	background: url(../img/1-java.png) no-repeat;
	background-position: center;
}
#img-database {
	background: url(../img/2-database.png) no-repeat;
	background-position: center;
}
#img-middleware {
	background: url(../img/3-middleware.png) no-repeat;
	background-position: center;
}
#img-cloud {
	background: url(../img/4-cloud.png) no-repeat;
	background-position: center;
}
#img-application {
	background: url(../img/5-applications.png) no-repeat;
	background-position: center;
}
#img-enterprise {
	background: url(../img/6-enterprise.png) no-repeat;
	background-position: center;
}
#img-engineered {
	background: url(../img/7-engineeredsys.png) no-repeat;
	background-position: center;
}
#img-hardware {
	background: url(../img/8-hardware.png) no-repeat;
	background-position: center;
}
#img-operating {
	background: url(../img/9-operatingsystems.png) no-repeat;
	background-position: center;
}
#img-virtualization {
	background: url(../img/10-virtualization.png) no-repeat;
	background-position: center;
}
#img-storage {
	background: url(../img/11-storage.png) no-repeat;
	background-position: center;
}
#img-bigdata {
	background: url(../img/12-bigdata.png) no-repeat;
	background-position: center;
}

#hm-cloud, #hm-application, #hm-middleware, #hm-database, #hm-bigdata, #hm-enterprise, #hm-engineered, #hm-java, #hm-hardware, #hm-virtualization, #hm-storage, #hm-operating {
	margin-left: -1px;
	margin-top: -1px;
	border: 1px solid #e4ebf0;
	padding: 0;
}

 }

@media only screen and (min-width: 768px){
.home-box {
 width: 33%;
 margin-right: 0;
}
.left50-home {
 width: 48%;
 margin-right: 2%;
 max-width: 460px;
}
#home-left {
float: left;
width: 45%;
margin-right: 4%;
padding-left: 6px;
}
 #home-right {
/* float:left;*/
 width: 49%;
 float: right;
margin-right: 1%;
}
#helphome {
width: 99%;
padding: 3px;
margin-right:0;
}
}

@media only screen and (min-width: 1140px) {
#helphome {
	margin-right: 0;
	width:100%;
}
.left50-home {
	margin-right: 4%;
	width: 46%;
}
#home-left{
	width: 46%;
	margin-right: 4%;	padding-left:0;
}
 #home-right {
	 float:left;
	 margin-right:0;
	 width:50%;}


.home-box {
	width: 245px;
}
}
