/* CSS Document */


/* page highlighting for demostration only*/

  /*body#homebody a#home, body#javabody a#Java, body#databasebody a#Database, body#middlewarebody a#Middleware, body#applicationsbody a#Applications, body#cloudbody a#Cloud, body#enterprisebody a#Enterprise, body#engineeredbody a#Engineered, body#hardwarebody a#Hardware, body#operatingbody a#Operating, body#virtualizationbody a#Virtualization, body#storagebody a#Storage, body#otherbody a#Other ,*/
  /*body#getstartedbody a#getstarted, body#commontasksbody a#commontasks, body#booksbody a#books, body#tutorialsbody a#tutorials, body#videosbody a#videos, body#downloadssbody a#downloads, body#relatedbody a#related, body#bigdatabody a#bigdata
  */
body#homebody a#home,body#propbody a#prop, body#l1body a#l1{
	border-left: 2px solid;
	/*background-color: rgb(239, 244, 252);
	background-color:#eff4fc; JD */
	background-color:#eff4fc; /*JB*/
	font-weight:bold;
}

/*.left-nav .selected{*/
	/*border-left: 3px solid !important;*/
	/*background-color:#E4F0FA; *//*JB*/
	/*font-weight:bold;*/
/*}*/

/* left nav */

.navback {
	width: 40px;
	position: absolute;
	z-index: -1;
	float: left;
	
	left: 0;
	top: 0;
	bottom: 0;
}

.navbackwide {
	width:40px;
	position: absolute;
	z-index: -1;
	float: left;
	left: 0;
	top: 0;
	bottom: 0;
}


/*(needed for icon fonts)*/	
.left-nav span:before {
display: inline-block;
}

.left-nav {
	width: 152px;
	margin-left: 8px;
	float: left;
	height: 100%;
	position: relative;
	bottom: 0;
	top: 20px;
display:none;
}


#sidebar {
	float: left;
	position: relative;
	top: 0;
	bottom: 0;
	width: 220px;
	height: auto;
	display:none;
}


.left-nav-w{
	width: 212px;
	margin-left: 8px;
	float: left;
	height: 100%;
	position: relative;
	bottom: 0;
	top: 0;}


.left-nav ul,.left-nav-w ul  {
	display: block;
	font-size: 14px;
	line-height: 17px;
	list-style: none outside none;
	text-transform: none;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 0;
	border-left: 3px solid #fff;


}
.left-nav li,.left-nav-w li {
	color: #145c93;
	background-color:#fff;
	display: block;
	width: 100%;
	padding: 0;
}
.left-nav ul li a,.left-nav-w ul li a {
	cursor: pointer;
	display: block;

	text-decoration: none;
	padding: 13px 8px 13px 7px;
	background-color:#fff;
	border-left: 3px solid #fff;
}

/*Child Sections*/
.left-nav ul ul,.left-nav-w ul ul {
	margin-left: 5px;
	margin-top: 0;
	margin-bottom: 0;
	font-size:12px;
	padding: 0;
	border-left: 3px solid #fff;
	}

.left-nav  ul ul > li a,.left-nav-w  ul ul > li a {
	cursor: pointer;
	display: block;

	text-decoration: none;
	padding: 5px 8px 5px 7px;
	background-color:#fff;
	border-left: 3px solid #fff;
}


.left-nav a:hover, .left-nav-w a:hover {
	border-left: 2px solid darkred;
    background-color: #F6FEF5;
	text-decoration: underline;
	color: #145c9e;
	
}
.left-nav a:visited, .left-nav-w a:visited {
	text-decoration: none;
	color:#145c93
}

.left-nav .icn:before, .left-nav-w .icn:before {
	display: inline-block;
	text-transform: none;
	width: 12px;
	border: 1px solid green;
}




/*left nav sticky for tutorials*/ 
.left-nav-tut{
position:relative;  max-width:220px;
}

.left-nav-tutscrl{
position: fixed;
height: 100%;
top: 0;
margin-top: 0;
width: 100%;
overflow-y: auto;
}

.left-nav  .active a, .left-nav-w .active a{
border-left: 2px solid;
background-color: #E4F0FA;
font-weight: bold;
}



/*Search Left Nav*/


	.filter{display:block;float: left;}
		
	.filter h4{
	padding-top:20px;
	padding-bottom:10px;	
		}
	
	
#SearchFilters {
	text-align: left;
}
#SearchFilters h3 {
color: #e95b46;
}

	
#SearchFilters h4 {
	padding:16px 0 10px 0;
	font-weight:bold;
	border-bottom:1px solid #d6dfe6;
	width:100%;
}

#SearchFilters > .filter ul {
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 0 5px 5px;
}
#SearchFilters > .filter ul li {
	float: left;
	font-size: 12px;
	line-height: 2em;
	list-style-type: none;
	margin-left: 0;
	width: 95%;
}
#SearchFilters > .filter ul li label {
	display: inline;
	padding-left: 10px;
	font-size: 12px;
}

#sidebar-2 {
	background: #fafafa;
	/*position:absolute;*/
	position: relative;
	top: 0;
	bottom: 0;
	width: 220px;
	height: auto;
	float: left;
	border-right: 1px solid #d6dfe6;
}
#sidebar-inner {
	width: 200px;
	padding: 10px;
	font-size: 13px;

}


#shownav{
background-image:url(../images/btn-close-nav.png);
background-repeat:no-repeat;

float:left;
display:none;
width:40px;
height:36px;
position:relative;
cursor:pointer;

	top:18px;
/*	border-bottom:1px solid #d6dfe6;*/
}

	#hidenav{
background-image: url(../images/btn-close-nav.png);
background-repeat:no-repeat;

/*float:left;*/
display:none;
width:40px;
height:36px;
position:relative;
cursor:pointer;

	top:18px;
	margin-left:110px;
	}
	
	
	
	
	@media only screen and (min-width: 768px) {
.navback {width: 160px;}
.navbackwide {width: 220px;}

#hidenav{display:none;}

.left-nav{
	display:block;}	
#sidebar{
	display:block;}	
}
	