
html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Helvetica Neue", Helvetica, 'Open Sans', arial, sans-serif;
	color: #4f4f4f;
	background-image:url("../images/page-bg-1.jpg");
	font-size: 15px;
	font-weight: normal;
	line-height: 1.5em;
}

a:link {
	text-decoration: none;
	color: #0572ce; /*DL*/	
	
}
a:visited {
	text-decoration: none;
color: #145c93; /*DL*/
}
a:hover {
	text-decoration: underline;
    color: #145c93;
}
.iconfont, .iconfont a:link, .iconfont a:visited, .iconfont a:hover {
	color: #999999 !important;
	text-decoration: none !important;
}


::-moz-selection {
background: #b3d4fc;
text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

h1 {
	font-size: 36px;
	line-height: 1.1em;
	font-weight: normal;
	color: #e75c58;
	margin: 15px 0 15px 0 !important;
}
h2 {
	font-size: 30px;
	line-height: 1.2em;
	color: #999999;
	margin: 15px 0 10px 0;
	font-weight: normal;
}
h3 {
	font-size: 24px;
	line-height: 1.2em;
	font-weight: normal;
	color: #171717;
	margin: 15px 0 4px 0;
}
h4 {
	font-size: 18px;
	line-height: 1.2em;
	font-weight: normal;
	color: #171717;
	margin: 15px 0 4px 0;
}
h5 {
	font-size: 15px;
	color: #171717;
	margin: 15px 0 4px 0;
}
h6 {
	font-size: 15px;
	color: #171717;
	margin: 15px 0 4px 0;
}
h1 img, h2 img, h3 img, h4 img, h5 img {
	vertical-align: text-bottom;
	margin-right: 10px;
margin-bottom: 3px;
float: left;
}
h1, h2, h3, h4, h5 {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
hr {
	height: 1px;
	border: 0;
	background-color: #d6dfe6;
	color: #d6dfe6;
}
p img, li a img{
vertical-align: text-bottom;
margin: 0 5px; 
}

i {
	font-style:italic;
	}
	
	
#IE8{
	display:none;
	background-color:#FFC;}
	
	
.main-pad {
	padding: 20px 20px 20px 20px;
	left: 0px;/*//added for help drawer*/
	right:0px;/*//added for help drawer*/

}
#main {
/*	margin-left: 160px;*/
	margin-left:40px;
	max-width:834px;
	}
	
.w1024-pad {
	padding: 20px 10px 20px 10px;
}

.img-right{display:none;}

.center {
	margin: 0 auto !important;
}	
	#content {
	position: relative;
	margin-top: 127px;/*55px;*/
	overflow-x: hidden;
}
.contentarea {
	background: #ffffff;
	/*border-radius: 3px;*/
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 1px solid #d6dfe7;
	/*margin-bottom: 10px;*/
	padding: 20px 15px;
}
	
	
	.w1024 {
	max-width: 1024px;
}
	
.left25,.left30,.left50,.left100{
	float: left;
	width:97%;
	margin-right: 3%;
	display: block;}
	
	.col3 {
	width: 260px;
	float: left;
	margin-right: 15px;
	height: auto;
}


/* COL3 */

.col3-a, .col3-b {
	width: 256px;
	margin-right: 15px;
	padding-right: 15px;
	float: left;
	margin-bottom: 30px;
	overflow: hidden;
}
.col3-c {
	width: 256px;
	float: left;
	margin-bottom: 30px;
	overflow: hidden;
}
.col3-a img, .col3-b img, .col3-c img {
	vertical-align: bottom;
}


	
	
	
.lighttxt {
	color: #808080;
}
.glyph span:before {
	display: inline-block;
}
/* color palette */

/*text colors*/
.col-txt-orange-1 {
	color: #f09543;
}
/*background colors*/
.col-green-1 {
	background-color: #e1eab4;
}
.col-green-2 {
	background-color: #b2d9b2;
}
.col-purple-1 {
	background-color: #cca6cb;
}
.col-red-1 {
	background-color: #f3b0ad;
}
.col-orange-1 {
	background-color: #f7cca4;
}
.col-blue-1 {
	background-color: #a6dce9;
}
/* Older Get Started 3 Tiles*/
.col-gs-1a {
	background-color: #fcedc8
}
.col-gs-1b {
	background-color: #fce6aa
}
.col-gs-2a {
	background-color: #fbe9c5
}
.col-gs-2b {
	background-color: #fadea7
}
.col-gs-3a {
	background-color: #fae2c3
}
.col-gs-3b {
	background-color: #f8cea1
}
.col-gs-4a {
	background-color: #f6ccbc
}
.col-gs-4b {
	background-color: #f2b09d
}
.col-gs-5a {
	background-color: #f6cdc7
}
.col-gs-5b {
	background-color: #f2b2b2
}
.col-gs-6a {
	background-color: #f6ced2
}
.col-gs-6b {
	background-color: #f1b3c0
}
/* body ==============================*/
.newsection{
	width: 100%;
clear: right;
}
/* grid, margin and padding classes */
		
.margin-30 {
	margin: 30px;
	display: block;
}
.margin-15 {
	margin: 15px;
}
.margin-left {
	margin-left: 30px;
}
.margin-right {
	margin-right: 30px;
}
.margin-top {
	margin-top: 30px;
}
.margin-bottom {
	margin-bottom: 30px;
}

.wordwrap {    
   white-space: -moz-pre-wrap; /* Firefox */     
   word-wrap: break-word;      /* IE */
}

.col-2-news {
	width: 100%;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
	-webkit-column-gap: 30px; /* Chrome, Safari, Opera */
	-moz-column-gap: 30px; /* Firefox */
	column-gap: 30px;
	padding: 10px 0;
}
.col-2-news ul {
	margin: 0;
	padding: 0;
}
.col-2-news li {
	list-style-type: none;
}
.list {
	margin: 0;
	padding-left: 18px;
	padding-top: 0px;
	padding-bottom: 5px;
}
.list li {
	list-style: none;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 25px;
}
.list li:before {
	/* For a round bullet */
	content: '\2022';
	/* For a square bullet */
    /*content:'\25A0';2713*/
	display: block;
	position: relative;
	max-height: 0px;
	left: -14px;
	top: -0px;
	font-weight: bold;
	font-family: arial;
	color: #1D5AAB;
}
.list ul li:before {
	/* For a square bullet */
	content: '\00ba';
	display: block;
	position: relative;
	max-height: 0px;
	left: -20px;
	top: -0px;
	font-weight: bold;
	font-family: arial;
	color: #1D5AAB;
	font-size: 18px;
}

.nobullets ul {
	margin: 0;
	padding: 0;
}
.nobullets li {
	list-style-type: none;
}

.nobullets li li {
	list-style-type: disc;
	margin-left: 30px;
	line-height: 1.2em;
}
.nobullets ul ul {
	margin-bottom: 5px;
}

/* various body styles ==============================*/	
		

.icn-32 {
	display: block;
	width: 100%;
	float: left;
	/*margin: 10px 0;*/
	vertical-align: text-bottom
}
.icn-32 img {
	float: left;
	margin-right: 10px;
}
.icn-32 a {
	margin-left: 42px;
	display: block;
}
.icn-64 {
	display: block;
	float: left;
	margin: 10px 0;
}
.icn-64 img {
	float: left;
}
.icn-64 a {
	margin-left: 72px;
	display: block;
}
.img-right {
	float: right;
	margin: 0 0 10px 50px;
}
.img-right2 {
	float: right;
	margin: 15px;
}

.prodimgtable{
	display:table;width:auto;height:auto;
	}
.prodimgtable img{
	display:table-cell;
	width:auto;
	height:auto;
	padding:5px 20px 10px 0;
	max-width:120px;
	max-height:120px;
}
.prodimgtable div{
	height:auto;

}


/* Category  ==============================*/	

#A-Z {
	text-align: center;
	width: 100%;
	padding: 5px;
}
#A-Z a {
	padding: 5px;
}
/* Search Results ==============================*/	

.srch-result {
	display: block;
	margin: 30px 0 20px 0;
}
.srch-result p {
	margin: 5px 0;
	line-height: 1.2em;
}
.srch-result h3 {
	margin:3px;
}
.srch-title {
	font-size: 11pt;
	margin: 5px 0;
}
.srch-tags, .srch-release {
	font-size: 10pt;
	color: #999;
	margin: 5px 0;
}
.srch-term {
	color: #e95b46;
}
.srch-next, .srch-prev {
	display: inline-block;
	margin: 0 5px;
}

.jumpto {
color: #919191;
}

.jumpto a{
	}
	
.jumpto a:before {
	 display: inline-block;
    content: "";
    width:20px;
    height: 12px;
    background: url("../img/arrow-right.png") no-repeat scroll 3px 2px transparent;
  
}

/* body book box  ==============================*/	
		
			
#breadcrumb {
	float: left;
	width: 100%;
	line-height: 1.4em;
	margin-bottom: 8px;
	color: #121212;
}
#breadcrumb a:link, #breadcrumb a:visited {
	color: #1766b0;
	text-decoration: none;
}
#breadcrumb a:hover {
	text-decoration: underline;
}
#bar1 {
	width: 220px;
	height: 40px;
	float: left;
	background: #f7f7f7;
	border-right: 1px solid #d6dfe6;
	border-bottom:1px solid #E8EEF3;
	border-top:1px solid #E8EEF3;
}
#bar2 {
	margin-left: 220px;
	color: #666;
	height: 40px;
	background: #f7f7f7;
	border-left: 1px solid #fff;
	border-bottom:1px solid #E8EEF3;
	border-top:1px solid #E8EEF3;
}
#bookContainer {
	height: 100%;
	margin-left: 40px;
}
#bookContainer-inner {
	margin-left: 10px
}
#splitter {
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: block;
}
#splitter img {
	margin-top: 9px;
	margin-left: 5px;
}
/* clearfix hacks */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
/* Get Started page styles  */


.gs-img {
	width: 100%;
	height: 120px;
	text-align: center;
}
/* Get Started 1b,2b */

.gs-1-icon {
	float: left;
	max-width: 64px;
	height: 64px;
	margin-right: 9px;
}
/*	Get Started 3 old Tile Page*/

.gs-block-1 img {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: -20px;
}
.gs-block-1 {
	float: left;
	text-align: center;
	width: 100%;
	height: 199px;
}
.gs-block-1 .number {
	position: relative;
	left: 15px;
	line-height: 36px;
	top: 15px;
	font-size: 36px;
	display: block;
	float: left;
}
.gs-block-2 {
	float: left;
	width: 100%;
	text-align: center;
	min-height: 71px;
	height: auto;
}
.gs-block-2 h4 {
	margin: 15px 10px;
}
/* Latest Get Started 3b*/


.gs-3-box {
	border-radius: 6px;
	border: 1px solid #d2d7db;
	overflow: hidden;/*	border-top-right-radius: 5px;*/
}

.gs-3-color-1 {
	background: #f6cdc7 url(../img/1a-top-image.png) 0px 24px no-repeat;
}
.gs-3-color-2 {
	background: #efcddf url(../img/2a-top-image.png) 0px 24px no-repeat;
}
.gs-3-color-3 {
	background: #dfc6df url(../img/3a-top-image.png) 0px 24px no-repeat;
}
.gs-3-color-4 {
	background: #c6e8f5 url(../img/4a-top-image.png) 0px 24px no-repeat;
}
.gs-3-color-5 {
	background: #c7e7e9 url(../img/5a-top-image.png) 0px 24px no-repeat;
}
.gs-3-color-6 {
	background: #c7e4de url(../img/6a-top-image.png) 0px 24px no-repeat;
}
.gs-3-color-7 {
	background: #d1e7cc url(../img/7a-top-image.png) 0px 24px no-repeat;
}
.gs-3-color-8 {
	background: #fae2c3 url(../img/8a-top-image.png) 0px 24px no-repeat;
}
.gs-3-color-9 {
	background: #f8d6bc url(../img/9a-top-image.png) 0px 24px no-repeat;
}



.gs-3-color-1:hover, .gs-3-color-1:active {
	background-color: #f2b1b2;
}
.gs-3-color-2:hover, .gs-3-color-2:active {
	background-color: #e4b0ce;
}
.gs-3-color-3:hover, .gs-3-color-3:active {
	background-color: #cba7cd;
}
.gs-3-color-4:hover, .gs-3-color-4:active {
	background-color: #a4d7f1;
}
.gs-3-color-5:hover, .gs-3-color-5:active {
	background-color: #a8dade;
}
.gs-3-color-6:hover, .gs-3-color-6:active {
	background-color: #a9d6c6;
}
.gs-3-color-7:hover, .gs-3-color-7:active {
	background-color: #bfdcae;
}
.gs-3-color-8:hover, .gs-3-color-8:active {
	background-color: #f7cd9f;
}
.gs-3-color-9:hover, .gs-3-color-9:active {
	background-color: #f4b998;
}



.gs-3-box-2-1 {
	background: #FFF url(../img/1a-bottom-image.png) no-repeat;
}
.gs-3-box-2-2 {
	background: #FFF url(../img/2a-bottom-image.png) no-repeat;
}
.gs-3-box-2-3 {
	background: #FFF url(../img/3a-bottom-image.png) no-repeat;
}
.gs-3-box-2-4 {
	background: #FFF url(../img/4a-bottom-image.png) no-repeat;
}
.gs-3-box-2-5 {
	background: #FFF url(../img/5a-bottom-image.png) no-repeat;
}
.gs-3-box-2-6 {
	background: #FFF url(../img/6a-bottom-image.png) no-repeat;
}
.gs-3-box-2-7 {
	background: #FFF url(../img/7a-bottom-image.png) no-repeat;
}
.gs-3-box-2-8 {
	background: #FFF url(../img/8a-bottom-image.png) no-repeat;
}
.gs-3-box-2-9 {
	background: #FFF url(../img/9a-bottom-image.png) no-repeat;
}



.gs-3-box-1 {
	float: left;
	text-align: center;
	width: 100%;
	height: 200px;
}
.gs-3-box-1 img {
	top: 60px;
	left: -9px;
	position: relative;
}
.gs-3-box-1 .number {
	position: relative;
	left: 15px;
	line-height: 36px;
	top: 15px;
	font-size: 36px;
	display: block;
	float: left;
	text-decoration: none;
}

.gs-3-color-1 .number, .gs-3-color-1 .number:link {
	color: #e85d70;
}
.gs-3-color-2 .number, .gs-3-color-2 .number:link {
	color: #ca589d;
}
.gs-3-color-3 .number, .gs-3-color-3 .number:link {
	color: #97519b;
}
.gs-3-color-4 .number, .gs-3-color-4 .number:link {
	color: #13b6cf;
}
.gs-3-color-5 .number, .gs-3-color-5 .number:link {
	color: #2db3ac;
}
.gs-3-color-6 .number, .gs-3-color-6 .number:link {
	color: #3caf85;
}
.gs-3-color-7 .number, .gs-3-color-7 .number:link {
	color: #81bb5f;
}
.gs-3-color-8 .number, .gs-3-color-8 .number:link {
	color: #f09543;
}
.gs-3-color-9 .number, .gs-3-color-9 .number:link {
	color: #eb6d3a;
}

/*breaks for responsive*/
/*#gs1, #gs2, #gs3, #gs4, #gs5, #gs6, #gs7, #gs8, #gs9, #gs10{
	float:left;
	width:100%;
	border:1px solid red;
	} */


/*Get Started columns */

.gs-col-wrapper {
	width: 100%;
/*	margin: 20px 0 30px -15px;*/
}
.gs-col-wrapper div {
/*	padding: 0 15px 5px 15px;*/
margin: 15px 0;
float: left;
width: 100%;
border-bottom: 1px solid #d6dfe6;
}
.gs-col-wrapper h4 {
	line-height: 24px;
	font-weight: normal;
	color: #171717;
	margin: 0 0 0 70px;
	padding-top: 6px;
	min-height: 64px;
	display: block;
}
.gs-col-wrapper ul, .gs-col-wrapper ol {
	padding-left: 18px;
}
.gs-col-wrapper li img {
	vertical-align: bottom;
	margin: 0 3px;
}
/* columns 

  .columnbox {
    position: relative;
	margin:30px 0 ;
  }



  .first-column,
  .column {
    float:left;
    width:256px;
  }

  .column {
    margin-left:30px;
  }

  .column:before {
    content:" ";
    margin:0 -15px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #d6dfe6;
  }

*/

/*  book list page styles  */
 
 
.booklist {
	/*margin: 5px 0;
display: table;*/
margin-top: 24px;
display:block;
position: relative;
width: 100%;
padding: 5px 0;
min-height: 20px;
border-bottom: 1px solid #d6dfe6;
}
.booktitle {
	/* display: table-cell; */
/* width: 764px; */
font-weight: bold;
font-size: 16px;
line-height: inherit;
}
.bookformats {
	/*display: table-cell;*/
	text-align: right;
	/*width: 100px;*/
	position: relative;
	/*padding-right: 20px;*/
}

/*.moreinfo{display:none;}
.download{display:none;}*/


/* .download{
	width:40px;
	height: 40px;
	padding: 0 4px;
	
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius:4px;
}*/

/*.download img{
width:32px;
height:32px;}*/



.moreinfo {
/*position: absolute;
right:57px;*/
/*content: url("images/620x410/image1.jpg");*/
}
.download {
/*position: absolute;
right:17px;*/
/*content:url("images/620x410/image1.jpg");*/
}



/*.infolink, .downloadlink {*/
.moreinfo, .download {	
	border: 1px solid  #fff;
/*background-color: #d6dfe6;*/
width:44px;
height:44px;

/* float: left; */
display: inline-block;
margin: 5px 7px 7px 0;
border-radius: 24px;
}

.moreinfo img, .download img{
position: relative;
top:6px;
left:6px;
}
.infolink:hover, .downloadlink:hover {
/* 	border: 1px solid  #d6dfe6;*/
}
/*.bookinfo { flat
	position: relative;
	display:none;
	}*/
.bookinfo {
	font-size:1.2em;
	line-height:1.2em;
	position: absolute;
	/*top: 15px;*/
	width:95%;
	text-align: left;
	z-index: 3;
	
	padding: 8px;
	height: auto;
	
	border: 1px solid #A9BBD0;
	background-color: #fafafa;
/*	border-radius:8px;*/
	display: none;
}	

	.downloadinfo {
/*	font-size: 13px;*/
	position: absolute;
	/*top: 15px;*/
	width:95%;
	text-align: left;
	z-index: 3;
	
	padding: 8px;
	height: auto;
	border: 1px solid #A9BBD0;
	background-color: #fafafa;
	display: none;
/*	border-radius:8px;*/
}	
	
	
	
	
	
.downloadinfo p{
margin:12px 0;
font-size:1.3em;}

.bookinfo .notch, .downloadinfo .notch{display:none;}
.bookinfo .notch, .downloadinfo .notch {
	position: absolute;
	right: -20px;
	top: 20px;
	margin: 0;
	border-bottom: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-left: 10px solid #c4d1e0;
	padding: 0;
	width: 0;
	height: 0;
}


/*common tasks nav*/

#tasks-nav {
	width: 190px;
	float: left;
	height: 100%;
	/*	padding-right: 10px;*/
	position: relative;
	border-right: 1px solid #d6dfe6;
}
#tasks-nav ul {
	font-size: 13px;
	display: block;
	line-height: 17px;
	list-style: none outside none;
	text-transform: none;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 0;
}
#tasks-nav li {
	display: block;
	width: 100%;
	padding: 0;
}
#tasks-nav ul li a {
	cursor: pointer;
	display: block;
	text-decoration: none;
	padding: 7px 10px 7px 7px;
	border-left: 2px solid #fff;
}
#tasks-nav a:visited {
	text-decoration: none;
	color: #145c93
}
#tasks-nav li a:hover {
	text-decoration: underline;
	color: #145c9e;
	border-left: 2px solid #efefef;
}
#tasks-nav li .selected {
	border-left: 3px solid #1D5AAB !important;
	background-color: #E4F0FA; /*JB*/
	font-weight: bold;
}
#tasks-nav .icn:before {
	display: inline-block;
	text-transform: none;
	width: 12px;
}
#tasks-body {
	margin-left: 230px;
	width: 603px;
}
.task-title {
	margin: 0;
	color: #e75c58;
}
.tasklist {
	margin-top: 10px;
	margin-bottom: 40px;
}
.tasklist p {
	font-size: 13px;
}
.tasklist ul {
	margin: 0;
	padding: 0;
	font-size: 13px;
}
.tasklist li {
	list-style-type: none;
	margin: 8px 0;
}
.tasklist li li {
	list-style-type: disc;
	margin-left: 30px;
	line-height: 1.2em;
}
.tasklist ul ul {
	margin-bottom: 5px;
}
/* generic reused ==============================*/	
	
/*.minmax {
	max-width: 1024px;
	min-width: 550px;
}
.push {
	height: 100px;
	clear: both;
}*/
.hr {
	width: 100%;
	height: 1px;
	background-color: #d6dfe6;
	display: block;
	margin: 10px 0px;
}
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear: both;
	/*overflow:auto;*/
	height: 0px;
	font-size: 1px;
	line-height: 0px;
}
.clearboth {
	clear: both;
}
.clear {
	clear: both;
}
.shadow {
}
.shadowtext {
	text-shadow: 3px 2px 6px rgb(52, 81, 124);
}
.innertube-30 {
	margin: 30px; /*Margins for inner DIV inside each column (to provide padding)*/
}
.innertube-30-15 {
	margin: 30px 15px; /*Margins for inner DIV inside each column (to provide padding)*/
}
.innertube-15 {
	margin: 15px;
}
.innertube-10 {
	margin: 10px;
}
.obscure {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.border {
	border: 1px solid #d6dfe6;
}
.border-top {
	border-top: 1px solid #d6dfe6;
}
.border-bottom{
	border-bottom: 1px solid #d6dfe6;
}
.border-right {
	border-right: 1px solid #d6dfe6;
}
.border-left {
	border-left: 1px solid #d6dfe6;
}


.box {
	margin: 15px 0;
	border: 1px solid #cbcbcb;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(34,25,25,0.1);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.1);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.1);
	border-radius: 3px;
	display: block;
	float: left;
}
.box p {
	color: #666;
}
.box > h2:first-of-type {
	margin-top: 0;
}
.box > h1:first-of-type {
	margin-top: 0;
}
.box2 {
	margin: 15px 0;
	border: 1px solid #cbcbcb;
	background-color: #efefef;
	box-shadow: 0 1px 3px rgba(34,25,25,0.1);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.1);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.1);
	border-radius: 3px;
	display: block;
	float: left;
}
.box2 ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-transform: none;
}
.box2 li {
	float: left;
	width: 245px;
	margin-right: 15px;
	margin-left: 15px;
	line-height: 1.4em;
}
.box2 ul li.selected {
	list-style-image: url(../img/arrow-bullet.png);
	color: #666;
	font-weight: bold;
}
.tut-vid-num {
	color: #999;
	margin-left: 15px;
	font-size: 14px;
	font-weight: normal;
}

.small {
	/*font-family: 'Open Sans', arial, sans-serif;*/
	font-size: 12px;
}
/* video page styles */


.scroll-stage {
	cursor: pointer;
}
/* browseall ==============================*/
.browseall {
	font-size: 20px;
	padding: 5px;
}
.browsesect {
	margin: 1em;
	padding-bottom: 1em;
}
.browsesect h3 {
	border-bottom: 1px solid #d6dfe6;
	padding-bottom: 0.2em;
}


.video-container{
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px solid #d6dfe6;
	float:left;
	width:100%;
	}
	
	.video-container h4{
margin-top:5px;		
font-weight: bold;
font-size:16px !important;
		}
		
		.video-container p{
		color:#747474;
		line-height: 1.3em;
		}
	
	
.video-container img{
	max-width:100%;
	width:254px;
	height:auto;
border:1px solid #d6dfe6;	
float:left;
}

#video-information,.video-information{
	float: left;
/*display: inline;*/
padding-left: 0;
padding-top:10px;
width: 90%;
	}

.carousel-inner > .item > a > img {
  width: 640px !important;
  max-height:360px;
}






/*TABS*/



/*----- Tabs -----*/
.tabs {
	width: 100%;
	display: inline-block;
	margin-top: 30px;
}
/*----- Tab Links -----*/
.tab-links {
	margin: 0;
	padding: 0;
	/*top: 1px;*/
	position: relative;
}
/* Clearfix */
.tab-links:after {
	display: block;
	clear: both;
	content: '';
}
.tab-links li {
	margin-right: 5px;
	margin-left: 0;
	float: left;
	list-style: none;
	width:100%;
}
.tab-links a {
	padding: 9px 18px;
	
	display: block;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	transition: all linear 0.15s;
}
.tab-links a:hover {
	text-decoration: none;
}
.tab-links li.active a, .tab-links li.active a:hover {
	background: #fff;
	color: #000;
	border-left: 1px solid #d6dfe6;
	border-top: 3px solid #1D5AAB;
	border-bottom: 3px solid #1D5AAB;
	border-right: 1px solid #d6dfe6;
	
		padding: 9px 18px 9px 35px ;
	/* padding-left: 35px;for phone menus*/
	background:url(../img/icn-16-down.png) 11px 12px no-repeat;
}
/*----- Content of Tabs -----*/
.tab-content {
	width: 100%;
	background: #fff;
	border-top: 1px solid #d6dfe6;
	padding-top: 20px;
	padding-bottom: 30px;
}
.tab {
	display: none;
}
.tab.active {
	display: block;
}
/*----- Tab Links Home Colors -----*/

.tabs-home {
	width: 100%;
	display: inline-block;
	background-color: #e9ecee;
}
.tab-home {
	margin: 0;
	padding: 0;
	top: 1px;
	position: relative;
}
/* Clearfix */
.tab-home:after {
	display: block;
	clear: both;
	content: '';
}
.tab-home li {
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	text-align: center;
}
/*.tab-home a {
	padding: 9px 0;
	display: inline-block;
	font-weight: bold;
	transition: all linear 0.1s;
}*/
.tab-home a {
/*	padding: 9px 10px;*/
	display: inline-block;
	/*border-top: 3px solid white;*/
	font-weight: bold;
	border-bottom:none;
	transition: all linear 0.15s;
	width: 100%;
	padding: 10px 0;
}
/*.tab-home a {
	padding: 9px 18px;
	display: inline-block;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-weight: bold;
	transition: all linear 0.15s;
}
*/
.tab-home a:hover {
	text-decoration: none;
}
.tab-home li.active a, .tab-home li.active a:hover {
	background: #fff;
	color: #4c4c4c;
	border-left: 1px solid #d6dfe6;
	border-top: 3px solid #e95b54;
	border-right: 1px solid #d6dfe6;
	width: 100%;
}

.tablediv {
width:auto;
height:auto;
vertical-align:top;
padding-right:2ex;
}



/*/ Help Center Drawer /*/


#helpdrawer{
position:absolute;  
width:278px; 
height:auto; 
right:-280px; 
top:1px; 
z-index:3;
bottom:1px; 
background-color:#f7f7f7;
}
#helpdrawer .feedbacktextarea{
	height:150px;
	width:100%;
	}



#helpdrawer th{
		background-color:#d6dfe6;
		border: 1px solid #d6dfe6;
   padding:7px;}

#helpdrawer table{margin-right:5px;}


#helpdrawer table,#helpdrawer td {
	background-color:#fff;
   border: 1px solid #d6dfe6;
   padding:7px;
}

#helpdrawer h3{
color:#0572ce;
font-size: 21px;}

#helpdrawer {
	font-size:12px;
	line-height: 1.5em;
}

#helpdrawer ol, #helpdrawer ul{
padding-left:20px;	
}

.hdopen{
right:-1px !important;}

#helptab{
cursor:pointer;
position:absolute; 
border-top-left-radius:3px;  
border-bottom-left-radius:3px; 
background-color:#f7f7f7; 
border-right:none; 
top:15px; 
left:-40px; 
width:40px; 
height:40px;
}

#helptab img{
position:relative;
top:8px;
left:8px;	
	}
	
	.panel-heading a:hover{
		text-decoration:none;}
	
	
	
.button{
background-color: #0572ce;
color: #fff;
/*background-image: url(../img/search-w.png);
background-repeat: no-repeat;
background-position: center center;*/
height: 32px;
padding: 5px 15px;

cursor: pointer;
/*text-transform: capitalize;
text-indent: -33333em;*/
border: 1px solid #0572ce;
border-left: none;
border-radius: 3px;
		}
		
		
		
		
		
		