@media only screen and (min-width: 768px) {

/*#gs1, #gs2, #gs3, #gs4, #gs5, #gs6, #gs7, #gs8, #gs9, #gs10{
	float:left;
	width:100%;
	border:1px solid orange;
	} */

#main {
margin-left: 160px;
}

	.main-pad {
		
	padding: 20px 20px 40px 30px;
}

.w1024-pad {
padding: 20px 20px 40px 30px;
}

#bookContainer {
	height: 100%;
	margin-left: 220px;
}

.img-right{display:block;}

.gs-col-wrapper {
	width: 100%;
	float:left;
}

.gs-col-wrapper div {
width:40%;
margin: 10px  5%  10px 0 ;
padding: 10px  4%  10px 0;
border-bottom:none;

}

#gs-2b-box1,#gs-2b-box3,#gs-2b-box5{
	clear:left;}

#gs-2b-box1,#gs-2b-box2,#gs-2b-box3,#gs-2b-box4,#gs-2b-box5,#gs-2b-box6,#gs-2b-box7,#gs-2b-box8,#gs-2b-box9{
	min-height:160px;
	margin-bottom:30px;
}
#gs-2b-box1,#gs-2b-box3, #gs-2b-box5,#gs-2b-box7,#gs-2b-box9{
border-right: 1px solid #d6dfe6;
}








#video-information,.video-information{
	float: left;
display: inline;
/*padding-left: 20px;*/
padding-left: 2%;
padding-top:0;
width: 60%;
	}
.video-container img {
width:30%;	
height:auto;
}


/*----- Tabs -----*/
.tabs {
	width: 100%;
	display: inline-block;
	margin-top: 30px;
}
/*----- Tab Links -----*/
.tab-links {
	margin: 0;
	padding: 0;
	top: 1px;
	position: relative;
}
/* Clearfix */
.tab-links:after {
	display: block;
	clear: both;
	content: '';
}
.tab-links li {
	margin-right: 5px;
	margin-left: 0;
	float: left;
	list-style: none;
	width:auto;
}
.tab-links a {
	padding: 9px 10px;
	display: inline-block;
	border-top: 3px solid white;
	font-weight: bold;
	border-bottom:none;
	transition: all linear 0.15s;
}
.tab-links a:hover {
	text-decoration: none;
}
.tab-links li.active a, .tab-links li.active a:hover {
	background: #fff;
	color: #000;
	border-left: 1px solid #d6dfe6;
	border-top: 3px solid #1D5AAB;
	border-bottom:0;
	border-right: 1px solid #d6dfe6;/*border-top-left-radius: 3px;
	border-top-right-radius: 3px;*/
	padding: 9px 10px;
	background-image:none;
}
/*----- Content of Tabs -----*/
.tab-content {
	width: 100%;
	min-height: 80px;
	background: #fff;
	border-top: 1px solid #d6dfe6;
	padding-top: 20px;
}
.tab {
	display: none;
}
.tab.active {
	display: block;
}
/*----- Tab Links Home Colors -----*/

.tabs-home {
	width: 100%;
	display: inline-block;
	background-color: #e9ecee;
}
.tab-home {
	margin: 0;
	padding: 0;
	top: 1px;
	position: relative;
}
/* Clearfix */
.tab-home:after {
	display: block;
	clear: both;
	content: '';
}
.tab-home li {
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	text-align: center;
}
.tab-home a {
	padding: 9px 0;
	display: inline-block;
	font-weight: bold;
	transition: all linear 0.1s;/*border-top: 3px solid #e9ecee;
	background-color: #e9ecee;*/
}
.tab-home a:hover {
	text-decoration: none;
}
.tab-home li.active a, .tab-home li.active a:hover {
	background: #fff;
	color: #4c4c4c;
	border-left: 1px solid #d6dfe6;
	border-top: 3px solid #e95b54;
	border-right: 1px solid #d6dfe6;
	width: 100%;
}


}