.addthis_sharing_toolbox, #feedback, #feedbackRating, #downloadsect {
  display:none;
}
button#download {
  display: inline;
}
#NAV #searchField{
width : 80% !important;
}
#downloadsect {
  left: 5px!important;
  margin-right: 1ex;
}

@media only screen and (min-width: 480px) {

body{	font-size: 14px;}
	#content {
	margin-top: 55px;
}
#gs1, #gs3, #gs5,  #gs7, #gs9{
	float:left;
	width:100%;
	} 
	
	.small {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 12px;
}

.prodimgtable{
	display:table;width:auto;height:auto;
	}
.prodimgtable img{
	display:table-cell;
	width:auto;
	height:auto;
	
}
.prodimgtable div{
	display:table-cell;
	height:auto;
	vertical-align:middle;
}

.booklist {
margin-top: 2px;
	/*margin: 5px 0;*/
display: table;
position: relative;
width: 100%;
padding: 5px 0;
min-height: 20px;
border-bottom: 1px solid #d6dfe6;
}
.booktitle {
	display: table-cell; 
	font-weight:normal;
	font-size:14px;
	}
	.bookformats {
	display: table-cell;
	text-align: right;
	width: 100px;
	position: relative;
	padding-right: 20px;
}
.bookinfo .notch, .downloadinfo .notch{display: inherit;}


.moreinfo, .bookformats div.download {
	width: 22px;
	height: 20px;
	padding: 0 4px;
	margin:0;
	background-color:transparent;
	display: inline-block;
	border: 1px solid #fff;
	text-align: center;
	cursor: pointer;
}
.bookformats div.download img{
width:16px;
height:16px;}

.moreinfo img{
width:16px;
height:16px;}

.bookinfo {
	font-size: 13px;
	position: absolute;
	top: 15px;
	right: 100px;
	float: right;
	text-align: left;
	z-index: 3;
	margin-left: 1em;
	margin-top: -30px;
	padding: 8px;
	height: auto;
	width: 200px;
	border: 1px solid #c4d1e0;
	background-color: #fafafa;
	display: none;
}

	
	
.downloadinfo {
	position: absolute;
	font-size: 13px;
	top: 15px;
	right: 65px;
	float: right;
	text-align: left;
	z-index: 3;
	margin-left: 15px;
	margin-top: -30px;
	padding: 8px;
	height: auto;
	width: 200px;
	border: 1px solid #c4d1e0;
	background-color: #fafafa;
	display: none;
}
.downloadinfo p{
	font-size: inherit;
}

.moreinfo img, .bookformats div.download img{
position: relative;
top:0;
left:0;
}

.shadow {
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}
/* Book page left nav portion*/
#downloadsect {
  left: 10px!important;
  margin-right: 1ex;
}
.tablediv {
  display:table-cell;
}
}