@media only screen and (min-width: 1140px) {


#gs1, #gs4,  #gs7, #gs10{
	float:left;
	width:100%;
	border:none;
	} 
 #gs2, #gs3,  #gs5, #gs6, #gs8, #gs9{
	float:none;
	border:none;
	} 


#main {
	margin-left: 160px;
	width: 834px;
	min-height: 450px;
}

.w1024 {
	width: 1024px;
}
.w1024-pad {
width: 984px;
padding: 20px 20px 40px 20px;
}

	
.w864 {
	width: 864px;
	float: left;
}
.w834 {
	width: 834px;
	float: left;
}
.left50 {
	float: left;
	/*width: 369px;*/
	width:45%;
	margin-right: 30px;
	display: block
}
.left30 {
	float: left;
width: 28%;
margin-right: 2%;
	display: block
}
.left25 {
	float: left;
	max-width: 224px;
	width:21%;
	margin-right: 3%;
	display: block
}

.nobullets ul {
	margin: 0;
	padding: 0 0 15px 0;
}




.gs-col-wrapper {
	width: 100%;
	margin: 20px 0 30px -15px;
}
.gs-col-wrapper div {
	padding: 0 15px 5px 15px;
	width: 245px !important;
	float: left;
margin:  0;
	border-bottom:none;
	min-height: 160px;
}


#gs-2b-box1,#gs-2b-box2,#gs-2b-box3,#gs-2b-box5,#gs-2b-box6,#gs-2b-box8,#gs-2b-box9{
	float:left;
	clear:none;
	min-height:160px;
	margin-bottom:30px;
}
#gs-2b-box4,#gs-2b-box7{
	clear:left;}

#gs-2b-box1,#gs-2b-box2, #gs-2b-box4,#gs-2b-box5,#gs-2b-box7,#gs-2b-box8{
border-right: 1px solid #d6dfe6;
}
#gs-2b-box3,#gs-2b-box6,#gs-2b-box9{border-right:none;}








.tab-links a {
	padding: 9px 18px;
}
.tab-links li.active a, .tab-links li.active a:hover {
		padding: 9px 18px;
}





.img-right {
	float: right;
	margin: 0 0 10px 50px;
}
.img-right2 {
	float: right;
	margin: 15px;
}

#feedback{
  display:inline;
}
#downloadsect {
  margin-right: 1ex;
}
/* Book page templates*/
/* Book page left nav portion*/
.addthis_sharing_toolbox {
  display: block;
}
#feedback{
  display:inline;
}
#downloadsect {
  margin-right: 1ex;
}


}