@charset "utf-8";
{% load staticfiles %}
* {
  margin: 0;
  padding: 0;
}



@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url('../fontawesome-webfont.woff') format('woff');
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
	background: #ecf0f1;
	color: #606468;
        font: 87.5%/1.5em 'Open Sans', sans-serif;
        margin: 0;
}

a {
	color: #d44179;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #1abc9c;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  
}

/* ---------- LOGIN ---------- */

#login {
	width: 300px;
	border-collapse: collapse;
	border-spacing: 0;
	
	
}

#login form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
}

#login form input[type="text"], input[type="password"], input[type="mail"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #FEF5F6;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 240px;
}

#login form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #606468;
	color: #FEF5F6;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	width: 290px;
}

#login form input[type="submit"]:hover {
	background-color: #d44179;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}

@charset "UTF-8";
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
 }
.fontawesome-glass:before{content:"\f000"}.fontawesome-music:before{content:"\f001"}.fontawesome-search:before{content:"\f002"}.fontawesome-envelope:before{content:"\f003"}.fontawesome-heart:before{content:"\f004"}.fontawesome-star:before{content:"\f005"}.fontawesome-star-empty:before{content:"\f006"}.fontawesome-user:before{content:"\f007"}.fontawesome-film:before{content:"\f008"}.fontawesome-th-large:before{content:"\f009"}.fontawesome-th:before{content:"\f00a"}.fontawesome-th-list:before{content:"\f00b"}.fontawesome-ok:before{content:"\f00c"}.fontawesome-remove:before{content:"\f00d"}.fontawesome-zoom-in:before{content:"\f00e"}.fontawesome-zoom-out:before{content:"\f010"}.fontawesome-off:before{content:"\f011"}.fontawesome-signal:before{content:"\f012"}.fontawesome-cog:before{content:"\f013"}.fontawesome-trash:before{content:"\f014"}.fontawesome-home:before{content:"\f015"}.fontawesome-file:before{content:"\f016"}.fontawesome-time:before{content:"\f017"}.fontawesome-road:before{content:"\f018"}.fontawesome-download-alt:before{content:"\f019"}.fontawesome-download:before{content:"\f01a"}.fontawesome-upload:before{content:"\f01b"}.fontawesome-inbox:before{content:"\f01c"}.fontawesome-play-circle:before{content:"\f01d"}.fontawesome-repeat:before{content:"\f01e"}.fontawesome-refresh:before{content:"\f021"}.fontawesome-list-alt:before{content:"\f022"}.fontawesome-lock:before{content:"\f023"}.fontawesome-flag:before{content:"\f024"}.fontawesome-headphones:before{content:"\f025"}.fontawesome-volume-off:before{content:"\f026"}.fontawesome-volume-down:before{content:"\f027"}.fontawesome-volume-up:before{content:"\f028"}.fontawesome-qrcode:before{content:"\f029"}.fontawesome-barcode:before{content:"\f02a"}.fontawesome-tag:before{content:"\f02b"}.fontawesome-tags:before{content:"\f02c"}.fontawesome-book:before{content:"\f02d"}.fontawesome-bookmark:before{content:"\f02e"}.fontawesome-print:before{content:"\f02f"}.fontawesome-camera:before{content:"\f030"}.fontawesome-font:before{content:"\f031"}.fontawesome-bold:before{content:"\f032"}.fontawesome-italic:before{content:"\f033"}.fontawesome-text-height:before{content:"\f034"}.fontawesome-text-width:before{content:"\f035"}.fontawesome-align-left:before{content:"\f036"}.fontawesome-align-center:before{content:"\f037"}.fontawesome-align-right:before{content:"\f038"}.fontawesome-align-justify:before{content:"\f039"}.fontawesome-list:before{content:"\f03a"}.fontawesome-indent-left:before{content:"\f03b"}.fontawesome-indent-right:before{content:"\f03c"}.fontawesome-facetime-video:before{content:"\f03d"}.fontawesome-picture:before{content:"\f03e"}.fontawesome-pencil:before{content:"\f040"}.fontawesome-map-marker:before{content:"\f041"}.fontawesome-adjust:before{content:"\f042"}.fontawesome-tint:before{content:"\f043"}.fontawesome-edit:before{content:"\f044"}.fontawesome-share:before{content:"\f045"}.fontawesome-check:before{content:"\f046"}.fontawesome-move:before{content:"\f047"}.fontawesome-step-backward:before{content:"\f048"}.fontawesome-fast-backward:before{content:"\f049"}.fontawesome-backward:before{content:"\f04a"}.fontawesome-play:before{content:"\f04b"}.fontawesome-pause:before{content:"\f04c"}.fontawesome-stop:before{content:"\f04d"}.fontawesome-forward:before{content:"\f04e"}.fontawesome-fast-forward:before{content:"\f050"}.fontawesome-step-forward:before{content:"\f051"}.fontawesome-eject:before{content:"\f052"}.fontawesome-chevron-left:before{content:"\f053"}.fontawesome-chevron-right:before{content:"\f054"}.fontawesome-plus-sign:before{content:"\f055"}.fontawesome-minus-sign:before{content:"\f056"}.fontawesome-remove-sign:before{content:"\f057"}.fontawesome-ok-sign:before{content:"\f058"}.fontawesome-question-sign:before{content:"\f059"}.fontawesome-info-sign:before{content:"\f05a"}.fontawesome-screenshot:before{content:"\f05b"}.fontawesome-remove-circle:before{content:"\f05c"}.fontawesome-ok-circle:before{content:"\f05d"}.fontawesome-ban-circle:before{content:"\f05e"}.fontawesome-arrow-left:before{content:"\f060"}.fontawesome-arrow-right:before{content:"\f061"}.fontawesome-arrow-up:before{content:"\f062"}.fontawesome-arrow-down:before{content:"\f063"}.fontawesome-share-alt:before{content:"\f064"}.fontawesome-resize-full:before{content:"\f065"}.fontawesome-resize-small:before{content:"\f066"}.fontawesome-plus:before{content:"\f067"}.fontawesome-minus:before{content:"\f068"}.fontawesome-asterisk:before{content:"\f069"}.fontawesome-exclamation-sign:before{content:"\f06a"}.fontawesome-gift:before{content:"\f06b"}.fontawesome-leaf:before{content:"\f06c"}.fontawesome-fire:before{content:"\f06d"}.fontawesome-eye-open:before{content:"\f06e"}.fontawesome-eye-close:before{content:"\f070"}.fontawesome-warning-sign:before{content:"\f071"}.fontawesome-plane:before{content:"\f072"}.fontawesome-calendar:before{content:"\f073"}.fontawesome-random:before{content:"\f074"}.fontawesome-comment:before{content:"\f075"}.fontawesome-magnet:before{content:"\f076"}.fontawesome-chevron-up:before{content:"\f077"}.fontawesome-chevron-down:before{content:"\f078"}.fontawesome-retweet:before{content:"\f079"}.fontawesome-shopping-cart:before{content:"\f07a"}.fontawesome-folder-close:before{content:"\f07b"}.fontawesome-folder-open:before{content:"\f07c"}.fontawesome-resize-vertical:before{content:"\f07d"}.fontawesome-resize-horizontal:before{content:"\f07e"}.fontawesome-bar-chart:before{content:"\f080"}.fontawesome-twitter-sign:before{content:"\f081"}.fontawesome-facebook-sign:before{content:"\f082"}.fontawesome-camera-retro:before{content:"\f083"}.fontawesome-key:before{content:"\f084"}.fontawesome-cogs:before{content:"\f085"}.fontawesome-comments:before{content:"\f086"}.fontawesome-thumbs-up:before{content:"\f087"}.fontawesome-thumbs-down:before{content:"\f088"}.fontawesome-star-half:before{content:"\f089"}.fontawesome-heart-empty:before{content:"\f08a"}.fontawesome-signout:before{content:"\f08b"}.fontawesome-linkedin-sign:before{content:"\f08c"}.fontawesome-pushpin:before{content:"\f08d"}.fontawesome-external-link:before{content:"\f08e"}.fontawesome-signin:before{content:"\f090"}.fontawesome-trophy:before{content:"\f091"}.fontawesome-github-sign:before{content:"\f092"}.fontawesome-upload-alt:before{content:"\f093"}.fontawesome-lemon:before{content:"\f094"}.fontawesome-phone:before{content:"\f095"}.fontawesome-check-empty:before{content:"\f096"}.fontawesome-bookmark-empty:before{content:"\f097"}.fontawesome-phone-sign:before{content:"\f098"}.fontawesome-twitter:before{content:"\f099"}.fontawesome-facebook:before{content:"\f09a"}.fontawesome-github:before{content:"\f09b"}.fontawesome-unlock:before{content:"\f09c"}.fontawesome-credit-card:before{content:"\f09d"}.fontawesome-rss:before{content:"\f09e"}.fontawesome-hdd:before{content:"\f0a0"}.fontawesome-bullhorn:before{content:"\f0a1"}.fontawesome-bell:before{content:"\f0a2"}.fontawesome-certificate:before{content:"\f0a3"}.fontawesome-hand-right:before{content:"\f0a4"}.fontawesome-hand-left:before{content:"\f0a5"}.fontawesome-hand-up:before{content:"\f0a6"}.fontawesome-hand-down:before{content:"\f0a7"}.fontawesome-circle-arrow-left:before{content:"\f0a8"}.fontawesome-circle-arrow-right:before{content:"\f0a9"}.fontawesome-circle-arrow-up:before{content:"\f0aa"}.fontawesome-circle-arrow-down:before{content:"\f0ab"}.fontawesome-globe:before{content:"\f0ac"}.fontawesome-wrench:before{content:"\f0ad"}.fontawesome-tasks:before{content:"\f0ae"}.fontawesome-filter:before{content:"\f0b0"}.fontawesome-briefcase:before{content:"\f0b1"}.fontawesome-fullscreen:before{content:"\f0b2"}.fontawesome-group:before{content:"\f0c0"}.fontawesome-link:before{content:"\f0c1"}.fontawesome-cloud:before{content:"\f0c2"}.fontawesome-beaker:before{content:"\f0c3"}.fontawesome-cut:before{content:"\f0c4"}.fontawesome-copy:before{content:"\f0c5"}.fontawesome-paper-clip:before{content:"\f0c6"}.fontawesome-save:before{content:"\f0c7"}.fontawesome-sign-blank:before{content:"\f0c8"}.fontawesome-reorder:before{content:"\f0c9"}.fontawesome-list-ul:before{content:"\f0ca"}.fontawesome-list-ol:before{content:"\f0cb"}.fontawesome-strikethrough:before{content:"\f0cc"}.fontawesome-underline:before{content:"\f0cd"}.fontawesome-table:before{content:"\f0ce"}.fontawesome-magic:before{content:"\f0d0"}.fontawesome-truck:before{content:"\f0d1"}.fontawesome-pinterest:before{content:"\f0d2"}.fontawesome-pinterest-sign:before{content:"\f0d3"}.fontawesome-google-plus-sign:before{content:"\f0d4"}.fontawesome-google-plus:before{content:"\f0d5"}.fontawesome-money:before{content:"\f0d6"}.fontawesome-caret-down:before{content:"\f0d7"}.fontawesome-caret-up:before{content:"\f0d8"}.fontawesome-caret-left:before{content:"\f0d9"}.fontawesome-caret-right:before{content:"\f0da"}.fontawesome-columns:before{content:"\f0db"}.fontawesome-sort:before{content:"\f0dc"}.fontawesome-sort-down:before{content:"\f0dd"}.fontawesome-sort-up:before{content:"\f0de"}.fontawesome-envelope-alt:before{content:"\f0e0"}.fontawesome-linkedin:before{content:"\f0e1"}.fontawesome-undo:before{content:"\f0e2"}.fontawesome-legal:before{content:"\f0e3"}.fontawesome-dashboard:before{content:"\f0e4"}.fontawesome-comment-alt:before{content:"\f0e5"}.fontawesome-comments-alt:before{content:"\f0e6"}.fontawesome-bolt:before{content:"\f0e7"}.fontawesome-sitemap:before{content:"\f0e8"}.fontawesome-umbrella:before{content:"\f0e9"}.fontawesome-paste:before{content:"\f0ea"}.fontawesome-lightbulb:before{content:"\f0eb"}.fontawesome-exchange:before{content:"\f0ec"}.fontawesome-cloud-download:before{content:"\f0ed"}.fontawesome-cloud-upload:before{content:"\f0ee"}.fontawesome-user-md:before{content:"\f0f0"}.fontawesome-stethoscope:before{content:"\f0f1"}.fontawesome-suitcase:before{content:"\f0f2"}.fontawesome-bell-alt:before{content:"\f0f3"}.fontawesome-coffee:before{content:"\f0f4"}.fontawesome-food:before{content:"\f0f5"}.fontawesome-file-alt:before{content:"\f0f6"}.fontawesome-building:before{content:"\f0f7"}.fontawesome-hospital:before{content:"\f0f8"}.fontawesome-ambulance:before{content:"\f0f9"}.fontawesome-medkit:before{content:"\f0fa"}.fontawesome-fighter-jet:before{content:"\f0fb"}.fontawesome-beer:before{content:"\f0fc"}.fontawesome-h-sign:before{content:"\f0fd"}.fontawesome-plus-sign-alt:before{content:"\f0fe"}.fontawesome-double-angle-left:before{content:"\f100"}.fontawesome-double-angle-right:before{content:"\f101"}.fontawesome-double-angle-up:before{content:"\f102"}.fontawesome-double-angle-down:before{content:"\f103"}.fontawesome-angle-left:before{content:"\f104"}.fontawesome-angle-right:before{content:"\f105"}.fontawesome-angle-up:before{content:"\f106"}.fontawesome-angle-down:before{content:"\f107"}.fontawesome-desktop:before{content:"\f108"}.fontawesome-laptop:before{content:"\f109"}.fontawesome-tablet:before{content:"\f10a"}.fontawesome-mobile-phone:before{content:"\f10b"}.fontawesome-circle-blank:before{content:"\f10c"}.fontawesome-quote-left:before{content:"\f10d"}.fontawesome-quote-right:before{content:"\f10e"}.fontawesome-spinner:before{content:"\f110"}.fontawesome-circle:before{content:"\f111"}.fontawesome-reply:before{content:"\f112"}.fontawesome-github-alt:before{content:"\f113"}.fontawesome-folder-close-alt:before{content:"\f114"}.fontawesome-folder-open-alt:before{content:"\f115"}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, blockquote,
fieldset{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}






