* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  
}

/* CSS Document */

header {
	width: 100%;
	min-height:55px;
	right: 0;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 50;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
	
	border-bottom:1px solid #A9BBD0;
}

.headersearch{
	float:left;
	width:100%;
	/*background-color:#fafafa;*/
text-align:center;
border-top:1px solid #d6dfe6;
padding-top:8px;
padding-bottom:8px;
}


.tabs-home #searchcontent {
text-align: center;
}


.oracle-logo {
float: left;
margin-left: 100px;
margin-top: 50px;
}

.drive-logo-home {
float: left;
margin-left: 0px;
margin-top: 100px;
}








header a:hover {
	text-decoration: underline;
}
header a:visited {
	text-decoration: none;
	color: #145c93;
}


.headeritem {
	float: right;
	position: relative;
	padding: 5px 0 0 16px;
	top: 13px;
}


/* new HEADER menu*/
#headernav {
	float: right;
	top: 0;
	font-size: 12px;
	position: relative;
	margin-left: 5px;
	padding-right: 30px;
}

#headernav ul {
	margin: 0;
	padding: 0;

	list-style: none;
	background-color: #fff;
}
#headernav a {
	padding: 8px 0px 0px 10px;
	color: #145c93;
	text-decoration: none;
}
#headernav a:hover {
	text-decoration: none;
}
#headernav li {
	float: left;
	margin-right: 1px;
	position: relative;
	height: 40px;
	line-height: 40px;
	margin: 0;
}
#headernav li li {
	width: 100%;
	min-width: 140px;
	margin-top: 1px;
	height: 30px;
	line-height: 30px;
}
#headernav li:hover {
	background-color: #f7f7f7;
}
#headernav ul ul {
	position: absolute;
	visibility: hidden;
	padding: 0;
	z-index: 400;
	right: 0px;
	top: 35px;
}
#headernav ul ul ul {
	position: absolute;
	left: 100%;
	top: -2px;
	border: solid 1px transparent;
}
#headernav li:hover > ul {
	visibility: visible;
}


.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-top: 11px;
	margin-left: 6px;
	vertical-align: top;
	border-top: 4px solid #1D5AAB;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
}

.SIname{
	padding-right:5px;
	display:none;	
	}


@media only screen and (min-width: 480px) {

header{
		border-bottom: 1px solid #fff;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);}
.SIname{
	display:inline;	
	}
	
.headersearch{
	float:right;
	width:auto;
	background-color: transparent;
text-align:left;
border-top:none;
padding-top:11px;
}

#searchcontent{
margin: 0 15px 5px 15px;
	}
	
.tabs-home #searchcontent{
margin: 0 auto;
/*padding: 5px;*/
	}



}
@media only screen and (min-width: 768px) {

.oracle-logo {
margin-left:20px;
margin-top:17px;
}
.drive-logo-home {
margin-left:30px;
margin-top:17px;
}

#headernav li {
	height: 55px;
	line-height: 55px;
}
#headernav ul ul {
top:42px;
}

@media only screen and (min-width: 1140px) {
    header {
        min-height: 55px;
        min-width: 1024px;
    }

    .headersearch {
        margin-left: 40px;
    }

    .oracle-logo-home {
        margin-left: 20px;
        margin-top: 17px;
    }
}

}



