body{
	margin: 0;
}
input{
	display: none;
}

/*CONTAINER*/

.cont{
	margin: 5px auto;
	display: block;
	width:550px;
	height: 210px;
	border: solid 0.90px #31322C;
	overflow: hidden;
}
img{
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
}
.image{
	width: 2200px;
	height: 200px
}

/*BUTTON PLAY&STOP*/

.butPlay{
	position: absolute;
	margin: 2px;
	width: 30px;
	height: 30px;
	z-index: 2;
	background: rgba(75,78,67,.6);
	display: block;
	text-align: center;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.butPlay:after{
	content: "?";
	color: rgba(240,240,240,.8);
	font-size: 18pt;
}
.butPlay:hover{
	cursor: pointer;
	background: rgba(75,78,67,.6);
}
.butStop{
	position: absolute;
	text-align: center;
	margin: 2px;
	width: 30px;
	height: 30px;
	z-index: 1;
	background: rgba(75,78,67,.6);
	display: none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.butStop:hover{
	cursor: pointer;
	background: rgba(75,78,67,.6);
}
.butStop:after{
	content: "?";
	color: rgba(240,240,240,.8);
	font-size: 17pt;
	z-index: 5;
	vertical-align: middle;
	font-weight: bolder;
}

/*BOTTOM LINE*/

.line{
	display: block;
	width: 0px;
	height: 20px;
	background: #9D3CFF;
}
.but{
	position: absolute;
	width: 550px;
	height: 5px;
	margin-top:-8px;
	overflow: visible;
}
.select1, .select2, .select3, .select4{
	display: inline-block;
	float: left;
	width: 137px;
	height: 20px;
	border-right: 1px solid #fbd850;
	background: #81bb5f;
	z-index: 5;
}
.select4{
	width: 136px;
	border: none;
}
.select1:hover{
	background: rgba(19,56,5,.7);
	cursor: pointer;
}
.select2:hover{
	background: rgba(19,56,5,.7);
	cursor: pointer;
}
.select3:hover{
	background: rgba(19,56,5,.7);
	cursor: pointer;
}
.select4:hover{
	background: rgba(19,56,5,.7);
	cursor: pointer;
}
.tooltip{
    width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent transparent red transparent ;
	border-width: 8px 8px 12px 8px;
	margin: -20px 0 0 77px;
}

/*INPUT CHECKED*/

#play:checked ~ .cont .line{
	-webkit-animation: linew 16s linear infinite;
	-moz-animation: linew 16s linear infinite;
	-ms-animation: linew 16s linear infinite;
	-o-animation: linew 16s linear infinite;
	animation: linew 16s linear infinite;
}
#play:checked ~ .cont .image{
	-webkit-animation: alls 16s linear infinite;
	-moz-animation: alls 16s linear infinite;
	-ms-animation: alls 16s linear infinite;
	-o-animation: alls 16s linear infinite;
	animation: alls 16s linear infinite;
}
#play:checked ~ .cont .but .tooltip{
	-webkit-animation: tooltip 16s linear infinite;
	-moz-animation: tooltip 16s linear infinite;
	-ms-animation: tooltip 16s linear infinite;
	-o-animation: tooltip 16s linear infinite;
	animation: tooltip 16s linear infinite;
}
#play:checked ~ .cont .butPlay{
	display: none;
}
#play:checked ~ .cont .butStop{
	display: block;
}

#slide2:checked ~ .cont .image{ margin-left:-700px;}
#slide2:checked ~ .cont .but .tooltip{ margin-left: 251px;}
#slide3:checked ~ .cont .image{ margin-left:-1400px;}
#slide3:checked ~ .cont .but .tooltip{ margin-left: 428px;}
#slide4:checked ~ .cont .image{ margin-left:-2100px;}
#slide4:checked ~ .cont .but .tooltip{ margin-left: 604px;}

/*ANIMATION*/

@-webkit-keyframes linew{
	0%{width: 0px;}
	25%{width: 186px;}
	50%{width: 362px;}
	75%{width: 534px;}
	100%{width: 714px;}
}

/* slide define next image */
@-webkit-keyframes alls{
	0%{margin-left: 0px;}
	23%{margin-left: 0px;-webkit-filter: blur(0px);}
	24%{-webkit-filter: blur(10px);}
	25%{margin-left:-550px;-webkit-filter: blur(0px); }
	48%{margin-left: -550px;-webkit-filter: blur(0px);}
	49%{-webkit-filter: blur(10px);}
	50%{margin-left: -1100px;-webkit-filter: blur(0px);}
	73%{margin-left: -1100px;-webkit-filter: blur(0px);}
	74%{-webkit-filter: blur(10px);}
	75%{margin-left: -1650px;-webkit-filter: blur(0px);}
	98%{margin-left: -1650px;-webkit-filter: blur(0px);}
	99%{-webkit-filter: blur(10px);}
	100%{margin-left: 0px;-webkit-filter: blur(0px);}
}
@-webkit-keyframes tooltip{
	0%{margin-left: 50px;}
	23%{margin-left: 50px;}
	25%{margin-left:200px; }
	48%{margin-left: 200px;}
	50%{margin-left: 340px;}
	73%{margin-left: 340px;}
	75%{margin-left: 460px;}
	98%{margin-left: 460px;}
	100%{margin-left: 50px;}
}

@keyframes linew{
	0%{width: 0px;}
	25%{width: 186px;}
	50%{width: 362px;}
	75%{width: 534px;}
	100%{width: 714px;}
}

@keyframes alls{
	0%{margin-left: 0px;}
	23%{margin-left: 0px;}
	25%{margin-left:-550px; }
	48%{margin-left: -550px;}
	50%{margin-left: -1100px;}
	73%{margin-left: -1100px;}
	75%{margin-left: -1650px;}
	98%{margin-left: -1650px;}
	100%{margin-left: 0px;}
}

/*width of tooltip bar */
@keyframes tooltip{
	0%{margin-left: 50px;}
	23%{margin-left: 50px;}
	25%{margin-left:200px; }
	48%{margin-left: 200px;}
	50%{margin-left: 340px;}
	73%{margin-left: 340px;}
	75%{margin-left: 460px;}
	98%{margin-left: 460px;}
	100%{margin-left: 50px;}
}


.image, .tooltip{-webkit-transition: all 500ms cubic-bezier(0.350, 0.080, 0.905, 0.460); 
   -moz-transition: all 500ms cubic-bezier(0.350, 0.080, 0.905, 0.460); 
    -ms-transition: all 500ms cubic-bezier(0.350, 0.080, 0.905, 0.460); 
     -o-transition: all 500ms cubic-bezier(0.350, 0.080, 0.905, 0.460); 
        transition: all 500ms cubic-bezier(0.350, 0.080, 0.905, 0.460); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.350, 0.080, 0.905, 0.460); 
   -moz-transition-timing-function: cubic-bezier(0.350, 0.080, 0.905, 0.460); 
    -ms-transition-timing-function: cubic-bezier(0.350, 0.080, 0.905, 0.460); 
     -o-transition-timing-function: cubic-bezier(0.350, 0.080, 0.905, 0.460); 
        transition-timing-function: cubic-bezier(0.350, 0.080, 0.905, 0.460); /* custom */
    }