<h1>Books CBV</h1>
<ul>
    {% for book in object_list %}
    <li><a href="{{ book.url }}"> {{ book.name }} </a> :
    <a href="{% url "books_cbv:book_edit" book.id %}">{{ book.pages }}</a>
    <a href="{% url "books_cbv:book_delete" book.id %}">delete</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "books_cbv:book_new" %}">New</a>