<!DOCTYPE html>
<html>
{% load staticfiles %}

<head lang="en">
    <meta charset="UTF-8">
    <title>ESIH_DRIVE</title>
    <link rel="stylesheet" href="{% static "css/style_index.css" %}" />

    <!--<script src="{% static "js/index.js" %}">-->

    <!--<script src="{% static "js/jquery.js" %}"></head>-->
</head>

<body>

  <header>

        <div class="w1024 center" style="height:55px; display:block;">
        <a href="#" class="drive-logo-home"> <img src="{% static "images/logo_drive.png" %}" alt="Esih_Drive download center" style=" width:236px; height:60px;" style="max-width: none;" /> </a>

        <div id="headernav" class="glyph">
            <ul>
                <li id="login">
            <!--<a href="#" id="signInLink"><img src="dcommon/img/sign-on.png" width="14" height="19" alt="Sign In Icon" style="vertical-align: text-bottom;"/> Sign In</a>-->
             <h4><a href="/form/login" id="loginform"> Login </a> | <a href="/form/register" id="loginform">Register</a></h4>
            </li></ul>
        </div>

        </div>
    </header>

  <div id="wrap">

     <div id="regbar">
        <div id="navthing">
         <h2><a href="/form/login" id="loginform"> Login </a> |<a href="/form/register" id="loginform">Register</a></h2>-
        </div>
    </div>

  </div>


</body>

</html>