<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
{% load staticfiles %}

<head lang="en">
    <meta charset="UTF-8">
    <title>ESIH_DRIVE</title>
    <link rel="stylesheet" href="{% static "css/style_login.css" %}" />
    <link rel="stylesheet" href="{% static "css/header.css" %}" />
    <!--<script src="{% static "js/index.js" %}">-->
</head>

<body>

    <header>

        <div class="w1024 center" style="height:55px; display:block;">
         <a href="#" class="drive-logo-home"> <img src="{% static "images/logo_drive.png" %}" alt="Esih_Drive download center" style=" width:236px; height:60px;" style="max-width: none;" /> </a>

        <div id="headernav" class="glyph">
            <ul>
                <li id="login">
{#                    <a href="#" id="signInLink"><img src="dcommon/img/sign-on.png" width="14" height="19" alt="Sign In Icon" style="vertical-align: text-bottom;"/> SIGN IN</a>#}
                  {% if user.is_authenticated %}
                     <h2>Welcome to ESIH_DRIVE {{ user.username }}!
                     <a href="/app/"> Home Page </a>
                     </h2>

                  {% else %}
                     <h2> Welcome to ESIH_DRIVE!</h2>
                  {% endif %}
                </li>
            </ul>
        </div>

        </div>
    </header>


    <div class="container">

      <div id="login">

          {% if form.errors %}
             <p>Your username and password didn't match. Please try again.</p>
          {% endif %}

        <form id="login_form" method="post" action="/form/login/">

          <fieldset class="clearfix">
             {% csrf_token %}
            <p><span class="fontawesome-user"></span><input type="text" name="username" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fontawesome-lock"></span><input type="password" name="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
            <p><input type="submit" value="Sign In"></p>
            <p><input type="hidden" name="next" value="/" /></p>

          </fieldset>

        </form>

        <p>Not a member? <a href="/form/register">SIGN UP NOW</a><span class="fontawesome-arrow-right"></span></p>

      </div> <!-- end login -->

    </div>


</body>

</html>