<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

{% load staticfiles %}

<head lang="en">
    <meta charset="UTF-8">
    <title>ESIH_DRIVE</title>
    <link rel="stylesheet" href="{% static "css/style_register.css" %}" />
     <link rel="stylesheet" href="{% static "css/header.css" %}" />
    <!--<script src="{% static "js/index.js" %}">-->
</head>

<body>

     <header>

        <div class="w1024 center" style="height:55px; display:block;">
         <a href="#" class="drive-logo-home"> <img src="{% static "images/logo_drive.png" %}" alt="Esih_Drive download center" style=" width="300" height="30" style="max-width: none;" /> </a>

        <div id="headernav" class="glyph">
            <ul>
                <li id="login">
            <a href="#" id="signInLink"><img src="dcommon/img/sign-on.png" width="14" height="19" alt="Sign In Icon" style="vertical-align: text-bottom;"/> Sign In</a>
            </li></ul></div>

        </div>

    </header>



    <div class="container">

      <div id="login">


        {% if registered %}
        ESIH says: <strong>thank you for registering!</strong>
        <a href="/form/">Return to the homepage.</a><br />
        {% else %}
        ESIH says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/form/register/" enctype="multipart/form-data">

          <fieldset class="clearfix">
{#               {% csrf_token %}#}
            <p> <span class="fontawesome-user"></span> <input type="text" name="fullname" value="fullname" onBlur="if(this.value == '') this.value = 'fullname'" onFocus="if(this.value == 'fullname') this.value = ''" required></p>
			<p> <span class="fontawesome-user"></span> <input type="text" name="username"  value="username" onBlur="if(this.value == '') this.value = 'username'" onFocus="if(this.value == 'username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p> <span class="fontawesome-envelope"></span><input type="mail" name="prenom.nom@esih.edu" value="prenom.nom@esih.edu" onBlur="if(this.value == '') this.value = 'prenom.nom@esih.edu'" onFocus="if(this.value == 'prenom.nom@esih.edu') this.value = ''" required></p>
			<p> <span class="fontawesome-lock"></span><input type="password" name="password" value="password" onBlur="if(this.value == '') this.value = 'password'" onFocus="if(this.value == 'password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
            <p> <input type="submit" name="submit" value="Register" ></p>

          </fieldset>

        </form>
        {% endif %}
        <p> ALL READY REGISTER ? <a href="/form/login">SIGN IN</a><span class="fontawesome-arrow-right"></span></p>

      </div> <!-- end login -->

    </div>

</body>
</html>