{#{% extends 'layouts/default.html' %}#}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block content %}

<form method="post" action="/mymen/login/">
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" value="login" class="btn btn-primary col-md-12"/>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>

{% endblock %}